<template>
    <nav class="navbar is-warning is-fixed-top is-two-fifths-mobile is-offset-0-mobile">
        <div class="navbar-brand">
            <div class="navbar-item">
                <router-link to="/">
                <img src="../assets/general_logo.png" alt="fuelApp" width="25" height="35">
                <h1 class="subtitle is-7 is-offset-one-fifth-desktop is-boxed">fuelAuditApp</h1>
                </router-link>
            </div>
            <div v-if="openNavigation"
                 class="navbar-burger burger is-active"
                 data-target="navbarExampleTransparentExample"
                 @click="toggleNavOpen"
            >
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div v-else
                 class="navbar-burger burger"
                 data-target="navbarExampleTransparentExample"
                 @click="toggleNavOpen"
            >
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div
                v-if="openNavigation"
                id="navbarExampleTransparentExample"
                class="navbar-menu is-success is-active">
            <div @click="handleResize" class="navbar-start has-dropdown is-hoverable">

                <a class="navbar-link  is-active" href="#">Audit</a>
                <div class="navbar-dropdown ">
                    <div class="navbar-item"><router-link class="button" to="/AddWayBill">Add_WayBill</router-link></div>
                    <div class="navbar-item"><router-link class="button" to="/WayBillsList">WayBill_DB</router-link></div>
                    <div class="navbar-item"><router-link class="button" to="/AuditList">Audit_DB</router-link></div>
                    <div class="navbar-item"><router-link class="button" to="/InputDataWayBillManager">Input_Data</router-link></div>
                    <hr class="navbar-divider">
                    <div class="navbar-item">
                        <div>
                            <small>
                                <router-link to="/">Audit documents</router-link>
                            </small>
                        </div>
                    </div>
                </div>


<!--                <div class="navbar-item">-->
<!--                </div>-->
<!--                <div class="navbar-item">-->
<!--                    <router-link class="button" to="/AddWayBill">Add_WayBill</router-link>-->
<!--                </div>-->
<!--                <div class="navbar-item">-->
<!--                    <router-link class="button" to="/WayBillsList">WayBill_DB</router-link>-->
<!--                </div>-->
<!--                <div class="navbar-item">-->
<!--                    <router-link class="button" to="/AuditList">Audit_DB</router-link>-->
<!--                </div>-->
<!--                <div class="navbar-item">-->
<!--                    <router-link class="button" to="/InputDataWayBillManager">Input_Data</router-link>-->
<!--                </div>-->
<!--                <div class="navbar-item">-->
<!--                    <h1 class="button" disabled>Technical_review</h1>-->
<!--                </div>-->
<!--                <div class="navbar-item">-->
<!--                    <h1 class="button" disabled>Vignettе_Monitor</h1>-->
<!--                </div>-->
<!--                <div class="navbar-item">-->
<!--                    <h1 class="button" disabled>Tax_Monitor</h1>-->
<!--                </div>-->


<!--                <div class="navbar-item">-->
<!--                    <h1 class="button" disabled>Insurance_Monitor</h1>-->
<!--                </div>-->
<!--                <div class="navbar-item">-->
<!--                    <h1 class="button" disabled>Oil_Monitor</h1>-->
<!--                </div>-->
<!--                <div class="navbar-item">-->
<!--                    <h1 class="button" disabled>Tires_Monitor</h1>-->
<!--                </div>-->



<!--                <div v-if="isAdmin === true" class="navbar-item">-->
<!--                    <router-link class="button" to="/GpsMachinesDashboard">GPS_List</router-link>-->
<!--                </div>-->
<!--                <div v-else class="navbar-item">-->
<!--                    <h1 class="button" disabled>GPS_List</h1>-->
<!--                </div>-->
<!--                <div v-if="isAdmin === true" class="navbar-item">-->
<!--                    <router-link class="button" to="/GpsMachinesDatabase">GPS_Manage</router-link>-->
<!--                </div>-->
<!--                <div v-else class="navbar-item" >-->
<!--                    <h1 class="button" disabled>GPS_Manage</h1>-->
<!--                </div>-->
<!--                    <div v-if="isLogin" class="navbar-item">-->
<!--                        <button v-if="!isLogin" class="button is-danger">Logout</button>-->
<!--                        <button v-else @click="logOut" class="button is-danger">Logout</button>-->
<!--                    </div>-->
<!--                <div v-if="isLogin"></div>-->
<!--                <div v-else class="navbar-item">-->
<!--                    <router-link class="button is-success" to="/login">Login</router-link>-->
<!--                </div>-->
            </div>
        </div>
    </nav>

</template>

<script lang="ts">
import {Component, Vue, Watch} from "vue-property-decorator";
import {Getter} from "vuex-class";
import {GET_LOADING, GET_LOGIN, GET_ADMIN} from "@/store";
import {logOut, setLoading, setAdminAccess} from "@/store/mutations";

interface Window {
    width: number
    height: number
}

@Component export default class NavbarOld extends Vue {
    @Getter(GET_LOGIN) public isLogin: boolean | undefined;
    @Getter(GET_LOADING) public isLoading: boolean | undefined;
    @Getter(GET_ADMIN) public isAdmin: boolean | undefined;



    openNavigation: boolean = false;
    window: Window = {
        width: 0,
        height: 0
    }


    toggleNavOpen(): void {
          this.openNavigation = !this.openNavigation;
    }

    setLoadingOff() {
        setLoading();
    }

    logOut() {
        setAdminAccess(false);
        this.setLoadingOff();
        console.log('logout');
        logOut();
    }

    handleResize() {
        let width = this.window.width = window.innerWidth;
        let height = this.window.height = window.innerHeight;

        this.openNavigation = width > 1023;

    }

    created(): void {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();
    }

    destroyed(): void {
        window.removeEventListener('resize', this.handleResize);
    }

    // @Watch('window', {deep: true})
    // watchWindow(w: Window) {
    //     this.windowWidth = w.width;
    //
    //
    // }


}
</script>

<style scoped>

</style>
