<template>
    <div class="section">
        <h1 class="title">ACCESS LIMITED</h1>
        <form
                v-if="!isLogin"
                @submit.prevent="getUser"
                method="POST"
                class="field"
                autocomplete="off"
        >
            <label class="label">Username</label>
            <input
                    class="input"
                    type="text"
                    placeholder="Please set user name:"
                    name="user_name"
                    v-model="userName"
            >
            <label class="label">Password</label>
            <input
                    class="input"
                    type="password"
                    placeholder="Please set password:"
                    name="user_password"
                    v-model="userPassword"
            >
            <button v-if="!isLogin"
                    type="submit"
                    name="submit"
                    class="button"
            >Login
            </button>
            <button v-else-if="isLogin"
                    type="submit"
                    name="submit"
                    class="button"
            >Logout
            </button>
        </form>

        <div v-if="isLogin">


        <div v-if="statement === 'Error'" class="message is-danger">
            <div class="message-header">
                <p>Warning!</p>
                <button @click="removeWarning" class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                This user name / password are wrong!
            </div>
        </div>
        <div v-if="statement === 'Success'" class="message is-success">
            <div class="message-header">
                <p>Success!</p>
                <button @click="removeWarning" class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                Username: <b>{{lastUserName}}</b>
                is successfully logged in system with password: <b>{{lastUserInfo}}</b>
            </div>
        </div>


        <div v-if="statement === 'Success'">
        <h1>Database information is loaded success:<br> {{userFromDB}}</h1>
        </div>
        <div v-else>

        </div>
        </div>
        <div v-else></div>



    </div>
</template>

<script lang="ts">
import {Component, Vue, Watch} from "vue-property-decorator";
import {Getter} from "vuex-class";
import axios from 'axios';
import {GET_LOGIN} from '@/store';
import {LogIn} from '@/store/mutations';

@Component export default class Test extends Vue {

    @Getter(GET_LOGIN) public isLogin: boolean | undefined;

    userName: string = '';
    userPassword: string = '';

    lastUserName: string = '';
    lastUserInfo: string = '';

    statement: string = '';
    userFromDB: any = '';

    getUser() {
        axios.post('/test_login.php', {
            user_name: this.userName,
            user_password: this.userPassword,
        }).then((res) => {
            console.log(res.data);
            this.statement = res.data;
            this.lastUserName = this.userName;
            this.lastUserInfo = this.userPassword;
            setTimeout(() => {
                if (this.statement === 'Success') {
                    this.showUser();
                    this.LogIn();
                } else if (this.lastUserInfo === '' || this.lastUserInfo === 'Error') {
                    this.userFromDB = 'No user data, please login!'
                }
            }, 1000)

        }).catch((error) => {
            console.log(error);
        })
    }

    LogIn() {
        let logInInfo = {email: 'test@test.bg', password: '123'};
        LogIn(logInInfo);
    }

    showUser() {
        axios.post('/test_getInfo.php', {
            user_name: this.userName
        })
            .then((res) => {
                console.log(res);
                this.userFromDB = res.data;
            })
            .catch((error) => {
                console.log(error)
            })
            .finally(() => {
                console.log('Axios GET finished!')
            });
    }

    removeWarning(): void {
        this.statement = '';
    }

    @Watch('lastUserName')
    WatchUserName(userName: any | null) {
        if (userName === '' || userName === 'Error') {
            return this.lastUserName;
        } else if (this.statement === 'Success') {
            return this.lastUserName = this.userName;
        }
    }

    @Watch('lastUserInfo')
    WatchUserInfo(userInfo: any | null) {
        if (userInfo === '' || userInfo === 'Error') {
            return this.lastUserInfo;
        } else if (this.statement === 'Success') {
            return this.lastUserInfo = this.userPassword;
        }
    }




}
</script>


