<template>
    <div class="hero is-dark">
        <div class="pt-6 mt-6 mb-1 pb-1">
            <div class="is-grouped-centered container has-text-centered">
                <div>
                    <div class="about">
                        <h1 class="title">GPS MACHINES DATABASE</h1>
                        <hr>
                        <h1>Machines in database:{{viewInfo.length}}</h1>
                        <bulma-button
                                class="mt-2 mb-2"
                                @click="sortByIndexId">
                            Sort by IndexID
                        </bulma-button>

                        <div class="hero table-container">
                            <table class="table is-striped is-fullwidth">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name/Registration</th>
                                    <th>Start Date</th>
                                    <th>Start Hour</th>
                                    <th>End Date</th>
                                    <th>End Hour</th>
                                </tr>
                                </thead>
                                <tbody v-for="(machine, index) in viewInfo">
                                <td v-if="machine.index_id === 0">
                                    <h1 style="color: red">{{machine.id}}</h1>
                                </td>
                                <td v-else>
                                    <h1>{{machine.index_id}}</h1>
                                </td>
                                <td v-if="machine.index_id === 0">
                                    <h1 style="color: red">{{machine.name}}</h1>
                                    <h1 style="color: red">{{machine.registration}}</h1>

                                </td>
                                <td v-else>
                                    <h1>{{machine.name}}</h1>
                                    <h1>{{machine.registration}}</h1>

                                </td>
                                <td>
                                    <h1>
                                        {{machine.start_date}}
                                    </h1>
                                </td>
                                <td>
                                    <h1>{{machine.start_time}}</h1>
                                </td>
                                <td>
                                    <input
                                            @input="updateStore"
                                            type="date"
                                            data-display-mode="inline"
                                            data-is-range="true"
                                            data-close-on-select="false"
                                            v-model="machine.end_date"
                                            required
                                    />
                                </td>
                                <td>
                                    <bulma-text-field
                                            @input="updateStore"
                                            v-model="machine.end_time"
                                            required
                                    />
                                </td>
                                </tbody>
                            </table>

                            <div>
                                <h1>First step: Login in <b>https://web.nipo-gps.com/GPS/</b> </h1>
                                <h1>Second step: Open adress <b>https://web.nipo-gps.com/GPS/innerHtml/Fuel_Reports/fuel_report_new.jsp</b></h1>
                                <h1>Third step: Grab ready data and step by step paste and run in console. </h1>

                            </div>
                            <div>
                                <h1 style="color: orange">Register array---></h1>
                                <h1>let machines = {{viewInfo}};</h1>
                            </div>
                            <div>
                                <h1 style="color: orange">Start script---></h1>
                                <h1> for (const element of machines) {
                                    setTimeout(() => {
                                    console.log('Script is started');
                                    getFuelDataFromServler(element.id, element.startDate, element.startHour, element.endDate, element.endHour)

                                    }, 500);

                                    }</h1>

                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">

    import {Component, Vue} from "vue-property-decorator";
    import {GET_SORTED_RULE, GET_ADMIN, GET_TRACKED_MACHINES} from '@/store';
    import {Getter} from 'vuex-class';
    import {compireMachines, decompireMachines, setTrackedMachines} from '@/store/mutations';

    @Component export default class GpsMachinesDatabase extends Vue {


        @Getter(GET_TRACKED_MACHINES) public viewInfo: any[] | undefined;
        @Getter(GET_SORTED_RULE) public isSorted: boolean | undefined;
        @Getter(GET_ADMIN) public isAdmin: boolean | undefined;


        updateStore() {
            setTrackedMachines(this.viewInfo);
        }



        sortByIndexId() {
            if (!this.isSorted) {
                compireMachines()

            } else if (this.isSorted) {
                decompireMachines()
            }
        }





    }


</script>

<style scoped>

</style>
