<template>
    <div v-if="loadingBar">
        <div class="hero is-dark is-fullheight">
            <h1 class="title pt-6 mt-6"></h1>
            <div class="loader"></div>
            <div class="hero is-dark mt-6 pt-6"></div>
            <div class="hero is-dark mt-6 pt-6"></div>
        </div>
    </div>
    <div v-else>
    <div class="hero is-dark mt-5 pt-5">
        <img class="mt-5 logo loader_base" src="../assets/db.png">
                <h1 class="title mt-5 pt-5">Accounting Audit</h1>
                <h4 class="subtitle mt-5 pt-5">Current - Month: {{month + 1}} / Year: {{year}}</h4>
        <div class="hero-body columns mt-5 pt-5 is-centered">
            <div class="column is-one-quarter">
                <bulma-select
                        class="mr-1 ml-1"
                        placeholder="Year"
                        v-model="toFetchYear"
                        :options="years"
                        :items="years"
                />
                <bulma-select
                        class="mr-1 ml-1 pb-1"
                        placeholder="Month"
                        :options="monts"
                        v-model="toFetchMonth"
                        :items="monts"

                />
                <bulma-button class="mb-3" @click="loadData" type="warning" outlined :loading="loading">
                    Load data
                </bulma-button>
                <SwitchBtn v-model="editCommon">
                    <template v-if="editCommon" #default>Turn off edit mode!</template>
                    <template v-else #default>Turn on edit mode!</template>
                </SwitchBtn>
            </div>
        </div>

        <hr>
        <h1 class="subtitle">Common table</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th><abbr>Registration</abbr></th>
                <th><abbr>First_km</abbr></th>
                <th><abbr>Last_km</abbr></th>
                <th><abbr>Total_km</abbr></th>
                <th><abbr>Consume/100km</abbr></th>
                <th><abbr>consumed_fuel</abbr></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="data in filteredMachinesData">
                <td>{{data.type}}</td>
                <td>{{data.name}}</td>
                <td>{{data.registration}}</td>
                <td>{{data.first}}</td>
                <td>{{data.last}}</td>
                <td>{{data.total = data.last - data.first}}</td>
                <td v-if="editCommon">
                    <bulma-text-field v-model="data.consum"></bulma-text-field>
                </td>
                <td v-else>{{data.consum}}</td>
                <td>{{parseFloat(data.consumed = (data.last - data.first)*(data.consum/100)).toFixed(2)}}</td>

            </tr>
            </tbody>
        </table>
        <div class="column is-half is-offset-one-quarter">
            <bulma-button
                    @click="createCommonTable"
            >Create_Common_Table</bulma-button>

        </div>
        <hr>
        <SwitchBtn v-model="showDetailed">
            <template v-if="showDetailed" #default>Hide detailed table!</template>
            <template v-else #default>Show detailed table!</template>
        </SwitchBtn>
        <SwitchBtn v-if="showDetailed" v-model="editDetailed">
            <template v-if="editDetailed" #default>End edit table!</template>
            <template v-else #default>Edit table!</template>
        </SwitchBtn>

        <h1 v-if="showDetailed" class="subtitle">Detailed daily table</h1>
        <table v-if="showDetailed" class="table">
            <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th><abbr>Registration</abbr></th>
                <th><abbr>First_km</abbr></th>
                <th><abbr>Last_km</abbr></th>
                <th><abbr>Total_km</abbr></th>
                <th><abbr>Date</abbr></th>
                <th><abbr>Consum/100km</abbr></th>
                <th><abbr>Consumed_fuel</abbr></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="data in machinesData">
                <td>{{data.type}}</td>
                <td>{{data.name}}</td>
                <td>{{data.registration}}</td>
                <td>{{data.start_km}}</td>
                <td>{{data.end_km}}</td>
                <td>{{data.total_km = data.end_km - data.start_km}}</td>
                <td>{{data.date}}</td>
                <td v-if="editDetailed">
                    <bulma-text-field v-model="data.consum"></bulma-text-field>
                </td>
                <td v-else>{{data.consum}}</td>
                <td>{{parseFloat(data.consumed_total = (data.total_km * (data.consum/100))).toFixed(2)}}</td>

            </tr>
            </tbody>
        </table>

        <div v-if="showDetailed" class="column is-half is-offset-one-quarter">
        <bulma-button

        @click="createDetailedTable"
        >Create_Detailed_Table</bulma-button>

        </div>


    </div>
    </div>
</template>

<script lang="ts">

    import {Component, Vue} from "vue-property-decorator";
    import {loadAccountingAuditData} from "@/api/machine";
    import {createTable} from "@/api/table";

    @Component export default class AccountingAudit extends Vue {

        machinesData: any[] = [];
        toFetchYear: number = 0;
        toFetchMonth: number = 0;

        editCommon: boolean = false;
        showDetailed: boolean = false;
        editDetailed: boolean = false;

        year: number = new Date().getFullYear();
        month: number = new Date().getMonth();

        filteredMachinesData: any[] = [];

        loading: boolean = false;
        loadingBar: boolean = false;

        filterMachinesData () {
            this.filteredMachinesData = [];

            let machines = this.machinesData;
            let filteredMachines = this.filteredMachinesData;

            const objIds = machines.reduce((a, { id, total_km, start_km, end_km, registration, name, type }) => {
                a[id] = a[id] || {id, elements: []};
                return {...a, ...{[id]: {id, elements: a[id].elements.concat(
                    {
                        start: start_km,
                        end: end_km,
                        total: total_km,
                        registration: registration,
                        name: name,
                        type: type
                })}}}
            }, {})
            const result = Object.values(objIds);

            // console.log(result[0].elements.pop())

            for (let i of result) {
                if(!i) {
                    console.log('sorry')
                } else {


                filteredMachines.push(
                    {
                        // @ts-ignore
                        id: i.id,
                        // @ts-ignore
                        registration: i.elements[0].registration,
                        // @ts-ignore
                        name:i.elements[0].name,
                        // @ts-ignore
                        type: i.elements[0].type,
                        // @ts-ignore
                        first: i.elements[0].start,
                        // @ts-ignore
                        last: i.elements.pop().end,
                        consum: 0
                    }
                )
                }

            }
        }


        created(): void {
            this.loadingBar = true;

            let interval = {"year": this.year, "month": this.month+1};

            loadAccountingAuditData(interval)
                .then((res) => {
                    res.consum_additional = 0;
                    this.machinesData = [...res]
                }).then(() => this.filterMachinesData())
            setTimeout(() => this.loadingBar = false, 1000)

        }

        loadData() {
            this.loading = true;

            let interval = {"year": this.toFetchYear, "month": this.toFetchMonth};
            loadAccountingAuditData(interval)
                .then((res) => {

                    this.machinesData = [...res]
                }).then(() => {
                this.filterMachinesData();
            }) .then(() => {
                setTimeout(() => {
                this.loading = false;

                }, 200)
            })
        }

        createDetailedTable() {
            createTable(this.machinesData, 'detailed');

        }


        createCommonTable() {
            createTable(this.filteredMachinesData, 'common')
        }


        get years(): object[] {
            const years: object[] = [];
            let thisYear = new Date();
            for (let i = 2019; i <= thisYear.getFullYear(); i++) {
                years.push({
                    value: i,
                    name: i
                });
            }
            return years
        }

        get monts(): object[] {
            const monts = [];
            for (let i = 1; i <= 12; i++) {
                monts.push({
                    value: i,
                    name: i
                })
            }
            return monts
        }
    }

</script>

<style scoped>

    .loader {
        border: 12px solid rgba(76, 76, 76, 0.47);
        border-radius: 90%;
        border-top: 5px solid #db4c2c;
        width: 150px;
        height: 141px;
        -webkit-animation: spin 1.7s linear infinite; /* Safari */
        animation: spin 1.7s linear infinite;
        margin: 0 auto
    }

</style>
