<template>
    <div v-if="loadingBar">
        <div class="hero is-dark is-fullheight">
            <h1 class="title pt-6 mt-6"></h1>
            <div class="loader"></div>
            <div class="hero is-dark mt-6 pt-6"></div>
            <div class="hero is-dark mt-6 pt-6"></div>
        </div>
    </div>
    <div v-else>
    <div class="hero is-dark is-fullheight">
        <div class="column is-half is-offset-one-quarter">
            <h1 class="title mt-6 pt-6">Add maintenance</h1>
            <hr>

            <div>
                <h1 class="subtitle">Registration</h1>
                <bulma-select
                        placeholder="Select registration number..."
                        :items="machines"
                        :options="machines"
                        v-model="maintenanceData.registration_id"
                />
            </div>

            <div>

                <h1 class="subtitle">Type of maintenance</h1>
                <bulma-select
                        placeholder="Select type of maintenance..."
                        :items="typeOfMaintenance"
                        :options="typeOfMaintenance"
                        v-model="maintenanceData.type"
                />
            </div>

            <div>

                <h1 class="subtitle">Start date</h1>
                <div class="container">
                <span class="select">
            <input
                    type="date"
                    class="input"
                    id="date"
                    name="date"
                    placeholder="Set time and date"
                    required
                    date
                    v-model="maintenanceData.startDate"

            />
                </span>
                    <!--                    <p class="is-danger" style="color: rgb(255,90,96); font-size: 12px;">Please enter-->
                    <!--                        date!</p>-->
                </div>
            </div>
            <div v-if="isGroupComplex">

                <h1 class="subtitle">Kilometers</h1>
                <bulma-text-field
                        placeholder="Additional kilometers..."
                        v-model="maintenanceData.kilometers"/>

                <h1 class="subtitle">Additional information</h1>
                <bulma-text-field
                        placeholder="Additional other information..."
                        v-model="maintenanceData.additionalInfo"
                />
            </div>

            <bulma-button @click="createMaintenance" type="success" class="mt-5" outlined :loading="loading">Add Entry
            </bulma-button>
            <Notification v-if="notification.message.length"
                          @close_notification="notification.message = ''"
                          :message=notification.message
                          :classes="notificationClass"
            />

        </div>
    </div>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import {GET_LOGIN} from '@/store';
    import {Getter} from 'vuex-class';
    import axios from 'axios';
    import {BulmaSelectOption} from "@/types/bulma";

    type machines = {
        data: {
            registration: string,
            id: number,
        }
    }
    type machineSelect = {
        value: string | number,
        name: string
    }

    type maintenanceData = {
        registration_id: number | null,
        type: string | null,
        startDate: string | null,
        kilometers: number | null,
        additionalInfo: string | null

    }

    @Component export default class AddMaintenance extends Vue {
        @Getter(GET_LOGIN) public isLogin: boolean | undefined;

        machines: machineSelect[] = [];

        maintenanceData: maintenanceData = {
            registration_id: null,
            type: null,
            startDate: null,
            kilometers: null,
            additionalInfo: null,

        };

        notification: any = {
            error: '',
            message: ''

        };

        loading: boolean = false;
        loadingBar:boolean = false;
        notificationClass: string = '';

        get isGroupComplex() {
            let type = this.maintenanceData.type;
            if (type === "technical_maintenance" ||
                type === "insurance_maintenance" ||
                type === "vignette_maintenance" ||
                type === "tax_maintenance") {
                return false;
            } else if (type === "oil_maintenance" ||
                type === "tires_maintenance" ||
                type === "timing_belt_maintenance") {
                return true;
            }
        }

        typeOfMaintenance: BulmaSelectOption[] = [
            {
                value: 'technical_maintenance',
                name: 'Technical_review'
            },
            {
                value: 'insurance_maintenance',
                name: 'Insurance'
            },
            {
                value: 'vignette_maintenance',
                name: 'Vignette'
            },
            {
                value: 'tax_maintenance',
                name: 'Tax'
            },
            {
                value: 'oil_maintenance',
                name: 'Oil'
            },
            {
                value: 'tires_maintenance',
                name: 'Tires'
            },
            {
                value: 'timing_belt_maintenance',
                name: 'Timing_belt'
            },

        ];

        getRegistrations(): void {

            let machines: machines[] = [];
            {
                axios.get('get_machines.php')
                    .then((res) => {
                        for (let key in res.data) {
                            machines.push(
                                {
                                    data: res.data[key],
                                }
                            )
                        }
                        return machines;
                    })
                    .then((res) => {
                        for (let key in res) {
                            this.machines.push({
                                value: res[key].data.id,
                                name: res[key].data.registration
                            })
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            }
        }

        createMaintenance() {
            axios.post('create_maintenance.php', this.maintenanceData)
                .then((res) => {

                    //todo: to remove errors[0] ?. This generate an error!
                    let errors = res.data.errors;
                    if (errors) {
                        this.notificationClass = "is-danger";
                        this.notification = {error: errors, message: errors};
                    }

                    if (!errors) {
                        this.loading = true;
                        this.notification.message = "";
                        this.notificationClass = "is-success";
                        setTimeout(() => {
                            this.loading = false;
                            this.notification.message = "Entry added successfully!";
                        }, 500)
                    }
                })
                .catch((err) => {
                    console.log(err);
                })
        }

        created(): void {
            this.getRegistrations();
            this.loadingBar = true;
            setTimeout(() => this.loadingBar = false, 1000)
        }
    }

</script>

<style>
    .loader {
        border: 12px solid rgba(76, 76, 76, 0.47);
        border-radius: 90%;
        border-top: 5px solid #db4c2c;
        width: 150px;
        height: 141px;
        -webkit-animation: spin 1.7s linear infinite; /* Safari */
        animation: spin 1.7s linear infinite;
        margin: 0 auto
    }

</style>
