<template>
    <div v-if="loadingBar">
        <div class="hero is-dark is-fullheight">
            <h1 class="title pt-6 mt-6"></h1>
            <div class="loader"></div>
            <div class="hero is-dark mt-6 pt-6"></div>
            <div class="hero is-dark mt-6 pt-6"></div>
        </div>
    </div>
    <div v-else>

    <div v-if="isLogin" class="hero is-fullheight is-dark">
        <div class="hero-body mb-3 pb-3">
            <div class="container has-text-centered">
                <img class="mt-5 logo loader_base" src="../assets/db.png">
                <h1 class="title">Add waybill</h1>
                <CreateVehicle
                :audit="true"
                ></CreateVehicle>
            </div>
        </div>
    </div>
    <div v-else>
        <Help></Help>
    </div>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import {GET_LOGIN} from '@/store';
    import {Getter} from 'vuex-class';

    @Component export default class AddWayBill extends Vue {
        @Getter(GET_LOGIN) public isLogin: boolean | undefined;

        loadingBar: boolean = false;

        created(): void {
            this.loadingBar = true;
            setTimeout(() => this.loadingBar = false, 1000)
        }

    }
</script>


<style scoped>
    .logo {
        max-width: 150px;
        max-height: 150px;
    }

    .loader {
        border: 12px solid rgba(76, 76, 76, 0.47);
        border-radius: 90%;
        border-top: 5px solid #db4c2c;
        width: 150px;
        height: 141px;
        -webkit-animation: spin 1.7s linear infinite; /* Safari */
        animation: spin 1.7s linear infinite;
        margin: 0 auto
    }
    .loader_base {
        border: 12px solid #363636;
        border-radius: 90%;
        border-top: 5px solid #363636;
        width: 150px;
        height: 141px;
        -webkit-animation: spin 1.9s linear infinite; /* Safari */
        animation: spin 1.9s linear infinite;
        margin: 0 auto
    }
</style>
