<template>
    <div v-if="isLogin" class="pt-5 mt-5 hero is-dark">
        <img class="mt-3 logo loader_base" src="../assets/db.png">
        <h1 class="title">Audit Database</h1>
        <hr>
        <h1>Select target year and month:</h1>
        <div class="field is-grouped is-grouped-centered">

            <bulma-select
                    class="mr-1 ml-1"
                    placeholder="Year"
                    v-model="toFetchYear"
                    :options="years"
                    :items="years"
                    @input="changeAuditInput(toFetchYear, toFetchMonth)"
            />
            <bulma-select
                    class="mr-1 ml-1"
                    placeholder="Month"
                    :options="monts"
                    v-model="toFetchMonth"
                    :items="monts"
                    @input="changeAuditInput(toFetchYear, toFetchMonth)"
            />
        </div>

        <div class="hero table-container-hidden">
          <TableGeneral
                  v-if="audit && Object.keys(audit).length"
                  class="hiden-table"
                  :audit="audit"
                  :days="days"
                  :getRows="getRows"
          />

        </div>

        <TableGeneral
                v-if="audit && Object.keys(audit).length"
                :audit="audit"
                :days="days"
                :getRows="getRows"
        />

        <div v-else>

            <h1 class="title">NO DATA FOR THIS RANGE!</h1>

        </div>
        <div class="hero is-dark is-fullheight"></div>

    </div>

    <div v-else>
        <Help></Help>
    </div>
</template>

<script lang="ts">

    import {Component, Vue} from "vue-property-decorator";
    import {Getter} from "vuex-class";
    import {GET_MOUNTLY_DATABASE, VIEW_DATABASE, GET_LOGIN} from '@/store';
    import {deleteData, removeInfo} from "@/store/mutations";
    import axios from 'axios';
    import XLSX from 'xlsx';
    import {TableExport} from 'tableexport';

    function fetchAudit(year: number, month: number): Promise<Audit> {
        return axios.get('/get_audit.php', {
            params: {
                year, month
            }
        })
            .then((r) => r.data)
    }

    @Component({})
    export default class Database extends Vue {
        @Getter(GET_LOGIN) public isLogin: boolean | undefined;
        @Getter(GET_MOUNTLY_DATABASE) public mountlyDatabase: [] | undefined;

        audit: Audit | null = null;
        toFetchYear: number = 0;
        toFetchMonth: number = 0;
        generalExport: Function | null = () => {};

        currentYear = new Date().getFullYear();
        currentMonth = new Date().getMonth() + 1;

        loadingBar: boolean = false;

        created() {

            this.loadingBar = true;

            let currentYear = this.currentYear;
            let currentMonth = this.currentMonth;
            this.toFetchYear = currentYear;
            this.toFetchMonth = currentMonth;

            fetchAudit(currentYear, currentMonth)
                .then((r) => {
                    this.audit = r
                })
                .catch((e) => {
                    console.error(e)
                })
                .finally(() => {
                    this.exportTable(true);

                })
        }

        changeAuditInput(year: number, month: number) {
            this.loadingBar = true;
            setTimeout(() => this.loadingBar = false, 250);
            fetchAudit(year, month)
                .then((r) => {
                    this.audit = r;
                })
                .catch((e) => {
                    console.error(e)
                })
                .finally(() => {

                    this.exportTable(false);
                })

        }


        get years(): object[] {
            const years: object[] = [];
            let thisYear = new Date()
            for (let i = 2019; i <= thisYear.getFullYear(); i++) {
                years.push({
                    value: i,
                    name: i
                });
            }
            return years

        }

        get monts(): object[] {
            const monts = [];
            for (let i = 1; i <= 12; i++) {
                monts.push({
                    value: i,
                    name: i
                })
            }
            return monts
        }

        get days(): number[] {
            const days = [];
            for (let i = 1; i <= 31; i++) {
                days.push(i);
            }

            return days;
        }

        getRows(cnt: number): number[] {
            const rows = [];

            for (let i = 0; i < cnt; i++) {
                rows.push(i);
            }

            return rows;
        }

        exportTable(addBtn: boolean) {
            this.generalExport = null;

            if (addBtn) {
                // @ts-ignore
                this.generalExport  =  new TableExport(document.getElementsByClassName("table-container-hidden"),
                    {
                        headers: true,                                 // (Boolean), display table headers (th or td elements) in the <thead>, (default: true)
                        footers: true,                              // (Boolean), display table footers (th or td elements) in the <tfoot>, (default: false)
                        formats: ["xlsx", "txt", "xlsm", "xlsb"],   // (String[]), filetype(s) for the export, (default: ['xlsx', 'csv', 'txt'])
                        filename: "generalTable",                             // (id, String), filename for the downloaded file, (default: 'id')
                        bootstrap: false,                            // (Boolean), style buttons using bootstrap, (default: true)
                        exportButtons: true,                        // (Boolean), automatically generate the built-in export buttons for each of the specified formats (default: true)
                        position: "top",                         // (top, bottom), position of the caption element relative to table, (default: 'bottom')
                        ignoreRows: null,                           // (Number, Number[]), row indices to exclude from the exported file(s) (default: null)
                        ignoreCols: null,                           // (Number, Number[]), column indices to exclude from the exported file(s) (default: null)
                        trimWhitespace: false,                       // (Boolean), remove all leading/trailing newlines, spaces, and tabs from cell text in the exported file(s) (default: false)
                        RTL: false,                                 // (Boolean), set direction of the worksheet to right-to-left (default: false)
                        sheetname: "id"
                    }
                );
            } else {
                // @ts-ignore
                this.generalExport  =  new TableExport(document.getElementsByClassName("table-container-hidden"),
                    {
                        headers: true,                                 // (Boolean), display table headers (th or td elements) in the <thead>, (default: true)
                        footers: true,                              // (Boolean), display table footers (th or td elements) in the <tfoot>, (default: false)
                        formats: ["xlsx", "txt", "xlsm", "xlsb"],   // (String[]), filetype(s) for the export, (default: ['xlsx', 'csv', 'txt'])
                        filename: "generalTable",                             // (id, String), filename for the downloaded file, (default: 'id')
                        bootstrap: false,                            // (Boolean), style buttons using bootstrap, (default: true)
                        exportButtons: false,                        // (Boolean), automatically generate the built-in export buttons for each of the specified formats (default: true)
                        position: "top",                         // (top, bottom), position of the caption element relative to table, (default: 'bottom')
                        ignoreRows: null,                           // (Number, Number[]), row indices to exclude from the exported file(s) (default: null)
                        ignoreCols: null,                           // (Number, Number[]), column indices to exclude from the exported file(s) (default: null)
                        trimWhitespace: false,                       // (Boolean), remove all leading/trailing newlines, spaces, and tabs from cell text in the exported file(s) (default: false)
                        RTL: false,                                 // (Boolean), set direction of the worksheet to right-to-left (default: false)
                        sheetname: "id"
                    }
                );
            }

            return this.generalExport
        }

    }

</script>

<style scoped>
    .table.is-scrollable.tbody {
        overflow-y: scroll;
        width: auto;
        position: absolute;
    }

    .hiden-table {
        display: none;
    }

    .loader {
        border: 12px solid rgba(76, 76, 76, 0.47);
        border-radius: 90%;
        border-top: 5px solid #db4c2c;
        width: 150px;
        height: 141px;
        -webkit-animation: spin 1.7s linear infinite; /* Safari */
        animation: spin 1.7s linear infinite;
        margin: 0 auto
    }


</style>
