<template>

    <div v-if="loadingBar">
        <div class="hero is-dark is-fullheight">
            <h1 class="title pt-6 mt-6"></h1>
            <div class="loader"></div>
            <div class="hero is-dark mt-6 pt-6"></div>
            <div class="hero is-dark mt-6 pt-6"></div>
        </div>
    </div>

    <div v-else>
    <div class="hero is-dark has-background-grey-dark is-fullheight mt-5 pt-5">
        <img class="image logo mt-5 " src="../assets/fuel_logo3.png">
        <div class="column is-half is-offset-one-quarter ">
            <section class="section is-fullwidth has-background-success ">
                <div class="container has-background-success">
                    <h1 class="title column is-mobile">Welcome to fuelApp</h1>
                    <h2 class="subtitle column is-mobile">
                        Easy application for managing
                        many functions related to the
                        reporting of documents, their
                        proper processing and output
                        of detailed information. Also
                        monitoring important information
                        related to the status of certain
                        <strong>work</strong> units.
                    </h2>
                </div>
            </section>

        </div>
        <div class="container column title column is-mobile">
            <figure class="image"><img src="../assets/demo1.png"></figure>
            <figure class="image"><img src="../assets/demo2.png"></figure>
            <figure class="image"><img src="../assets/demo5.png"></figure>
        </div>

        <section class="container column title column is-mobile">
            <div class="container">
                <h1 class="title">Protection</h1>
                <h2 class="subtitle column is-half is-offset-one-quarter">
                    The application guarantees
                    good data security
                    thanks to modern technologies.
                </h2>
            </div>
        </section>
        <div class="container column title column is-mobile">
            <figure class="image"><img src="../assets/demo7.png"></figure>
            <figure class="image"><img src="../assets/demo8.png"></figure>
        </div>

        <section class="container column title column is-mobile">
            <div class="container ">
                <h1 class="title">Flexibility</h1>
                <h2 class="subtitle column is-half is-offset-one-quarter">
                    Always ready for import new information. Always sort...
                </h2>
            </div>
        </section>
        <div class="container column title column is-mobile">
            <figure class="image"><img src="../assets/demo4.png"></figure>
            <figure class="image"><img src="../assets/demo3.png"></figure>
            <figure class="image"><img src="../assets/demo6.png"></figure>
        </div>

        <section class="container column title column is-mobile">
            <div class="container ">
                <h1 class="title">And many more...</h1>
                <div class="container column title column is-mobile">
                    <figure class="image"><img src="../assets/demo9.png"></figure>
                    <figure class="image"><img src="../assets/demo10.png"></figure>
                </div>
            </div>
        </section>

        <div class="container mb-3 column title column is-mobile has-background-success">
            <h1 class="title">Author:</h1>
            <h2 class="subtitle">Pavel Nistorov</h2>
            <hr>
            <h5 class="title">Special thanks to:</h5>
            <h5 class="subtitle">M.Kirilov - backend & frontend</h5>
            <h5 class="subtitle">Sashko - frontend</h5>
            <h5 class="subtitle">N.Naumov - logo</h5>
        </div>

    </div>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import {GET_LOGIN} from '@/store';
    import {Getter} from 'vuex-class';

    @Component export default class Home extends Vue {
        @Getter(GET_LOGIN) public isLogin: boolean | undefined;

        loadingBar: boolean = false;

        created(): void {
            this.loadingBar = true;
            setTimeout(() => this.loadingBar = false, 1000)
        }

    }
</script>

<style scoped>
    .logo {
        max-height: 250px;
        max-width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .container img {
        max-width: 350px;
        max-height: 350px;
        border: 1px solid #00ff9b;
        margin-bottom: 20px;
    }

    .loader {
        border: 12px solid rgba(76, 76, 76, 0.47);
        border-radius: 90%;
        border-top: 5px solid #db4c2c;
        width: 150px;
        height: 141px;
        -webkit-animation: spin 1.7s linear infinite; /* Safari */
        animation: spin 1.7s linear infinite;
        margin: 0 auto
    }
</style>
