<template>

    <div v-if="loadingBar">
        <div class="hero is-dark is-fullheight">
            <h1 class="title pt-6 mt-6"></h1>
            <div class="loader"></div>
            <div class="hero is-dark mt-6 pt-6"></div>
            <div class="hero is-dark mt-6 pt-6"></div>
        </div>
    </div>

    <div v-else>
        <div v-if="isLogin" class="hero-body mt-3 hero is-dark">
        <img class="mt-5 logo loader_base" src="../assets/db.png">
            <h1 class="title">WayBills input data manage</h1>
            <hr>

            <div class="columns">

                <div class="column is-one-fifths">

                    <h1 class="subtitle">Input machines into DB:</h1>
                    <hr>
                    <h1>Registration</h1>
                    <bulma-text-field
                            v-model="machineRegistration"
                            type="danger"
                            placeholder="input machine registration..."
                            :error="machineRegistrationErrorMessage"
                    />
                    <h1>Name</h1>
                    <bulma-text-field
                            type="danger"
                            v-model="machine"
                            placeholder="input machine name..."
                            :error="machineNameErrorMessage"
                    />
                    <h1>Type (optional)</h1>
                    <bulma-text-field
                            type="success"
                            v-model="machineType"
                            placeholder="input machine type..."
                    />
                    <h1>Order (optional)</h1>
                    <bulma-text-field
                            type="success"
                            v-model="machineIndexId"
                            placeholder="input machine index_id..."/>
                    <bulma-button class="pt-2 mt-2" @click="setMachine" type="info" outlined :loading="loadingMachine">
                        <template #default>Add Machine</template>
                    </bulma-button>


                </div>
                <hr>
                <div class="column is-one-fifths">
                    <h1 class="subtitle">Input Workers into DB:</h1>
                    <hr>
                    <h1>Worker names</h1>
                    <bulma-text-field
                            v-model="worker"
                            type="danger"
                            placeholder="input worker names..."
                            :error="workerNamesErrorMessage"
                    />
                    <bulma-button class="pt-2 mt-2" @click="setWorker" type="info" outlined :loading="loadingWorker">
                        <template #default>Add Worker</template>
                    </bulma-button>
                </div>
                <hr>
                <div class="column is-one-fifths">
                    <h1 class="subtitle">Input places into DB:</h1>
                    <hr>
                    <h1>Place name</h1>
                    <bulma-text-field
                            v-model="place"
                            type="danger"
                            placeholder="input places names..."
                            :error="placeNameErrorMessage"
                    />
                    <bulma-button class="pt-2 mt-2" @click="setPlace" type="info" outlined :loading="loadingPlace">
                        <template #default>Add Place</template>
                    </bulma-button>
                </div>
            </div>

            <div v-if="errorMachineRegistration || errorMachine || errorPlace || errorWorker" class="message is-danger">
                <div class="message-header">
                    <p>Warning!</p>
                    <button class="delete" aria-label="delete" @click="removeWarning"></button>
                </div>
                <div class="message-body">
                    Please fill correct all data!
                </div>
            </div>
            <h1 class="title">Database information</h1>
            <h1>Switch to edit information</h1>

            <div class="columns">
                <div class="column is-one-fifths">
                    <SwitchBtn v-model="editModeMachines" @input="changeDatabase(1)"/>
                    <TableList
                            :viewDatabase="machinesFromDB"
                            :editMode="editModeMachines"
                            :isSingleThead="false"
                            @refreshDatabase="getReadyDataFromAllDatabases"
                            @changeDatabase="changeDatabase(1)"
                    >
                    </TableList>
                </div>
                <div class="column is-one-fifths">
                    <SwitchBtn v-model="editModeWorkers" @input="changeDatabase(2)"/>
                    <TableList
                            :viewDatabase="workersFromDB"
                            :editMode="editModeWorkers"
                            :isSingleThead="true"
                            @refreshDatabase="getReadyDataFromAllDatabases"
                            @changeDatabase="changeDatabase(2)"

                    >
                    </TableList>

                </div>
                <div class="column is-one-fifths">
                    <SwitchBtn v-model="editModePlaces" @input="changeDatabase(3)"/>
                    <TableList
                            :viewDatabase="placesFromDB"
                            :editMode="editModePlaces"
                            :isSingleThead="true"
                            @refreshDatabase="getReadyDataFromAllDatabases"
                            @changeDatabase="changeDatabase(3)"
                    >
                    </TableList>
                </div>

            </div>
        </div>
        <div v-else>
            <Help></Help>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import {Getter} from "vuex-class";
    import axios from 'axios';
    import {GET_LOGIN} from '@/store';
    import {removeDataFromOrderedDatabase} from '@/store/mutations';

    @Component export default class Test extends Vue {
        @Getter(GET_LOGIN) public isLogin: boolean | undefined;

        machine: string = '';
        machineRegistration: string = '';
        machineType: string = '';
        machineIndexId: number | null = null;
        worker: string = '';
        place: string = '';

        errorMachine: boolean = false;
        errorMachineRegistration: boolean = false;
        errorWorker: boolean = false;
        errorPlace: boolean = false;

        tableBase: number = 0;

        machinesFromDB: any[] = [];
        workersFromDB: any[] = [];
        placesFromDB: any[] = [];

        loadingMachine: boolean = false;
        loadingWorker: boolean = false;
        loadingPlace: boolean = false;
        loadingSave: boolean = false;

        editModeMachines: boolean = false;
        editModeWorkers: boolean = false;
        editModePlaces: boolean = false;

        machineRegistrationErrorMessage: string | null = null;
        machineNameErrorMessage: string | null = null;
        workerNamesErrorMessage: string | null = null;
        placeNameErrorMessage: string | null = null;

        removeWarning() {
            this.errorPlace = false;
            this.errorWorker = false;
            this.errorMachineRegistration = false;
            this.errorMachine = false;
            this.machineRegistrationErrorMessage = null;
            this.machineNameErrorMessage = null;
            this.workerNamesErrorMessage = null;
            this.placeNameErrorMessage = null;

            return;
        }

        changeDatabase(from: number) {

            switch (from) {
                case 1:
                    this.editModeWorkers = false;
                    this.editModePlaces = false;
                    break;
                case 2:
                    this.editModePlaces = false;
                    this.editModeMachines = false;
                    break;
                case 3:
                    this.editModeMachines = false;
                    this.editModeWorkers = false;
                    break;
            }
            removeDataFromOrderedDatabase(from)

        }

        getAllDatabases(from: string, where: any[]): void {
            {
                axios.get(from)
                    .then((res) => {
                        for (let key in res.data) {
                            where.push(
                                {
                                    data: res.data[key]
                                }
                            )
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            }
        }

        getReadyDataFromAllDatabases() {
            this.machinesFromDB = [];
            this.workersFromDB = [];
            this.placesFromDB = [];
            this.getAllDatabases('get_machines.php', this.machinesFromDB);
            this.getAllDatabases('get_places.php', this.placesFromDB);
            this.getAllDatabases('get_workers.php', this.workersFromDB);
        }

        setMachine() {
            this.removeWarning();
            this.loadingMachine = true;
            axios.post('set_machine.php', {
                name: this.machine.toUpperCase(),
                registration: this.machineRegistration.toUpperCase(),
                type: this.machineType.toUpperCase(),
                indexId: this.machineIndexId
            })
                .then((res) => {
                    if (res.data === 'Error') {
                        this.errorMachineRegistration = true;

                        if (this.machine.length === 0) {
                            this.machineNameErrorMessage = 'Machine name required!';
                        } else {
                            this.machineNameErrorMessage = null;
                        }

                        if (this.machineRegistration.length === 0) {
                            this.machineRegistrationErrorMessage = 'Registration required!';
                        } else {
                            this.machineRegistrationErrorMessage = null;
                        }

                    } else {
                        this.errorMachineRegistration = false;
                        this.machineRegistrationErrorMessage = null;
                        this.machineNameErrorMessage = null;
                        this.workerNamesErrorMessage = null;
                        this.placeNameErrorMessage = null;

                    }
                })
                .catch((err) => {
                    console.log(err)
                })
                .finally(() => {
                    setTimeout(() => {
                        this.loadingMachine = false;
                        if (this.errorMachineRegistration
                            || this.errorMachine
                            || this.errorPlace
                            || this.errorWorker) {
                            return this.machine && this.machineRegistration;
                        } else {

                            this.machine = '';
                            this.machineRegistration = '';
                            this.machineType = '';
                            this.machineIndexId = null;
                            this.getReadyDataFromAllDatabases()
                        }
                    }, 133)
                })
        }

        setWorker() {
            this.removeWarning();

            axios.post('set_worker.php', {
                worker: this.worker.toUpperCase()
            })
                .then((res) => {
                    this.loadingWorker = true;
                    if (res.data === 'Error') {
                        this.errorWorker = true;

                        if (this.worker.length === 0) {
                            this.workerNamesErrorMessage = 'Worker names required!';
                        } else {
                            this.workerNamesErrorMessage = null;
                        }

                    } else {
                        this.errorMachineRegistration = false;
                        this.machineRegistrationErrorMessage = null;
                        this.machineNameErrorMessage = null;
                        this.workerNamesErrorMessage = null;
                        this.placeNameErrorMessage = null;
                    }
                })
                .catch((err) => {
                    console.log(err)
                })
                .finally(() => {
                    setTimeout(() => {

                        if (this.errorMachineRegistration
                            || this.errorMachine
                            || this.errorPlace
                            || this.errorWorker) {
                            this.loadingWorker = false;
                            return this.worker
                        } else {

                            this.loadingWorker = false;
                            this.worker = '';
                            this.getReadyDataFromAllDatabases();
                        }
                    }, 133)
                })
        }

        setPlace() {
            this.removeWarning();

            axios.post('set_place.php', {
                place: this.place.toUpperCase()
            })
                .then((res) => {
                    this.loadingPlace = true;
                    if (res.data === 'Error') {
                        this.errorPlace = true;

                        if (this.place.length === 0) {
                            this.placeNameErrorMessage = 'Place name required!';
                        } else {
                            this.placeNameErrorMessage = null;
                        }
                    } else {
                        this.errorMachineRegistration = false;
                        this.machineRegistrationErrorMessage = null;
                        this.machineNameErrorMessage = null;
                        this.workerNamesErrorMessage = null;
                        this.placeNameErrorMessage = null;
                    }
                })
                .catch((err) => {
                    console.log(err)
                })
                .finally(() => {
                    setTimeout(() => {

                        if (this.errorMachineRegistration
                            || this.errorMachine
                            || this.errorPlace
                            || this.errorWorker) {
                            this.loadingPlace = false;
                            return this.place
                        } else {


                            this.loadingPlace = false;
                            this.place = '';
                            this.getReadyDataFromAllDatabases()
                        }
                    }, 133)
                })
        }


        loadingBar: boolean = false;

        created(): void {

            this.loadingBar = true;
            setTimeout(() => this.loadingBar = false, 1000)

            setTimeout(() => {
                this.getReadyDataFromAllDatabases()
            }, 50)
        }

    }


</script>

<style scoped>
    .loader {
        border: 12px solid rgba(76, 76, 76, 0.47);
        border-radius: 90%;
        border-top: 5px solid #db4c2c;
        width: 150px;
        height: 141px;
        -webkit-animation: spin 1.7s linear infinite; /* Safari */
        animation: spin 1.7s linear infinite;
        margin: 0 auto
    }

</style>
