<template>
    <div v-if="!isLogin" class="section hero is-dark is-fullheight">
        <h1 class="title mt-5 pt-5">Login page</h1>

        <h1 class="subtitle">
            Info:
        </h1>

        <p>
            For new registrations, please contact with the administrator or owner.
        </p>
        <form
                @submit.prevent="getUser"
                method="POST"
                autocomplete="off"

        >
            <label class="label">Username</label>
           <div class="login-form field column is-three-quarters is-mobile is-6 is-offset-one-quarter
">
            <h1 class="subtitle">Username:</h1>
            <input
                    class="input"
                    type="text"
                    placeholder="Please set user name:"
                    name="user_name"
                    v-model="userName"
            >
            <label class="label">Password</label>
               <h1 class="subtitle">Password:</h1>
            <input
                    class="input"
                    type="password"
                    placeholder="Please set password:"
                    name="user_password"
                    v-model="userPassword"
            >
               <button v-if="!isLogin"
                       type="submit"

                             name="submit"
                             class="button is-success mt-5"
               >Login
               </button>
               <button v-else-if="isLogin"
                       type="submit"
                             name="submit"
                             class="button is-danger mt-5"
               >Logout
               </button>

               <div v-if="statement === 'Error'" class="pt-3 mt-3">

                   <div  class="message is-danger">
                       <div class="message-header">
                           <p>Warning!</p>
                           <button @click="removeWarning" class="delete" aria-label="delete"></button>
                       </div>
                       <div class="message-body">
                           This user name / password are wrong!
                       </div>
                   </div>
               </div>
               <InfoNavigation
                       class="mt-5 pt-3"
                       :login="true"
               >

               </InfoNavigation>
           </div>

        </form>

        <div>


        <div v-if="statement === 'Success'" class="message is-success">
            <div class="message-header">
                <p>Success!</p>
                <button @click="removeWarning" class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                Username: <b>{{lastUserName}}</b>
                is successfully logged in system with password: <b>{{lastUserInfo}}</b>
            </div>
        </div>


        <div v-if="statement === 'Success'">
        <h1>Database information is loaded success:<br> {{userFromDB}}</h1>
        </div>
        <div v-else>

        </div>
        </div>
        <div>


        </div>

        </div>


    <div class="hero is-dark is-fullheight" v-else-if="loading">
        <h1 class="title pt-6 mt-6"></h1>
        <div class="loader"></div>
        <div class="hero is-dark mt-6 pt-6"></div>
        <div class="hero is-dark mt-6 pt-6"></div>
    </div>

    <div class="hero is-dark is-fullheight" v-else-if="endLoading">
        <h1 class="title pt-6 mt-6">Login success!</h1>

        <div class="hero-body">

        <img class="image logo" src="../assets/general_logo.png" alt="">
        </div>
    </div>

</template>

<script lang="ts">
    import {Component, Vue, Watch} from "vue-property-decorator";
    import {Getter} from "vuex-class";
    import axios from 'axios';
    import {GET_LOGIN} from '@/store';
    import {LogIn, setAdminAccess} from '@/store/mutations';

    @Component export default class Login extends Vue {

        @Getter(GET_LOGIN) public isLogin: boolean | undefined;

        userName: string = '';
        userPassword: string = '';

        lastUserName: string = '';
        lastUserInfo: string = '';

        statement: string = '';
        userFromDB: any = '';

        loading: boolean = false;
        endLoading: boolean = false;

        getUser() {
            axios.post('/login.php', {
                user_name: this.userName,
                user_password: this.userPassword,
            }).then((res) => {
                this.statement = res.data;
                this.lastUserName = this.userName;
                this.lastUserInfo = this.userPassword;
                setTimeout(() => {
                    if(this.statement !== 'Error') {
                        if(this.statement === 'admin') {
                            this.extraRules(true);
                        } else { this.extraRules(false) }
                        this.LogIn();
                    } else if (this.lastUserInfo === '' || this.lastUserInfo === 'Error'){
                        this.userFromDB = 'No user data, please login!'
                    }
                }, 1000)

            }).catch((error)=> {
                console.log(error);
            })
        }

        extraRules(is: boolean) {
            setAdminAccess(is)
        }

        LogIn() {
            this.loading = true;
            let logInInfo = {email: 'test@test.bg', password: '123'};
            LogIn(logInInfo);
            setTimeout(() => {
                this.loading = false;
                this.endLoading = true;
            }, 1500)

        }



        removeWarning(): void {
            this.statement = '';
        }

        @Watch('lastUserName')
        WatchUserName(userName: any | null) {
            if(userName === '' || userName === 'Error') {
                return this.lastUserName;
            } else if (this.statement === 'Success') {
                return this.lastUserName = this.userName;
            }
        }

        @Watch('lastUserInfo')
        WatchUserInfo(userInfo: any | null) {
            if(userInfo === '' || userInfo === 'Error') {
                return this.lastUserInfo;
            } else if (this.statement === 'Success') {
                return this.lastUserInfo = this.userPassword;
            }
        }

        created(): void {
            this.loading = false;
        }

    }


</script>

<style scoped>

    .login-form {
      border: 1px solid white;
        padding: 1px;
        margin: 0 auto;
    }

    .logo {
        max-height: 250px;
        max-width: 250px;
        display: block;
        margin: 0 auto;
    }

    .loader {
        border: 12px solid rgba(76, 76, 76, 0.47);
        border-radius: 90%;
        border-top: 5px solid #db4c2c;
        width: 150px;
        height: 141px;
        -webkit-animation: spin 1.7s linear infinite; /* Safari */
        animation: spin 1.7s linear infinite;
        margin: 0 auto
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }




</style>

