<template>
    <div class="section">
        <h1>Test page with backend connection!</h1>
        <form
                action="/test_setInfo.php"
                @submit.prevent="setInfo"
                method="POST"
                class="field"
                autocomplete="off"
        >
            <label class="label">Username</label>
            <input
                    class="input"
                    type="text"
                    placeholder="Please set user name:"
                    name="user_name"
                    v-model="userName"
            >
            <label class="label">User email</label>
            <input
                    class="input"
                    type="text"
                    placeholder="Please set email:"
                    name="user_info"
                    v-model="userEmail"
            >
            <label class="label">User password</label>
            <input
                    class="input"
                    type="password"
                    placeholder="Please set password:"
                    name="user_password"
                    v-model="userPassword"
            >
            <label class="label">User password again</label>
            <input
                    class="input"
                    type="password"
                    placeholder="Please re-enter password:"
                    name="user_re_password"
                    v-model="reUserPassword"
            >

            <button
                    type="submit"
                    name="submit"
                    class="button"
            >Register
            </button>
        </form>


            <div v-if="statement === 'Error'" class="message is-danger">
                <div class="message-header">
                    <p>Warning!</p>
                    <button @click="removeWarning" class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    Please set correct data in fields!
                </div>
            </div>
            <div v-if="statement === 'Success'" class="message is-success">
                <div class="message-header">
                    <p>Success!</p>
                    <button @click="removeWarning" class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    Username: <b>{{lastUserName}}</b>
                    registered successful with user information: <b>{{lastUserInfo}}</b>
                </div>
            </div>

    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import axios from 'axios';

    @Component export default class Test extends Vue {

        userName: string = '';
        userEmail: string = '';
        userPassword: string = '';
        reUserPassword: string = '';

        lastUserName: any = '';
        lastUserInfo: any = '';

        userNameFinal: string = '';
        userInfoFinal: string = '';

        statement: any = '';

        setInfo() {
            console.log('Axios submit!');
            if (this.userPassword !== this.reUserPassword) {
                console.log('Email verify error!');
                return
            } else {

                axios.post('/register_user.php', {
                    user_name: this.userName,
                    user_password: this.userPassword,
                    user_email: this.userEmail,
                })
                    .then((response) => {
                        console.log(response);
                    })
                    .catch((error) => {
                        console.log(error);
                    })
                    .finally(() => {
                        console.log('Axios POST finished!')
                    });
            }
        }

        removeWarning(): void {
            this.statement = '';
        }

        get data() {
            return this.userNameFinal && this.userInfoFinal;
        }
    }
</script>


