<template>
    <div class="hero is-fullheight is-dark">
        <div class="pt-6 mt-6 mb-1 pb-1">
            <div class="is-grouped-centered container has-text-centered">
                <h1 class="title">Technical Maintenance</h1>
                <div class="column is-three-fifths-desktop is-offset-one-fifth-desktop">
                    <div v-if="!viewMaintenance || viewMaintenance.length === 0">
                        <h1 class="title">NO DATA!</h1>
                    </div>
                    <MaintenanceTableList v-else class="table"
                                          :viewInfo="viewMaintenance"
                                          @delete_maintenance_value="deleteMaintenanceById"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import {Getter} from 'vuex-class';
    import {GET_LOGIN} from '@/store';
    import {getMaintenance, deleteMaintenanceById} from "@/api/machine";

    @Component export default class TechnicalReview extends Vue {
        @Getter(GET_LOGIN) public isLogin: boolean | undefined;

        viewMaintenance: any[] | undefined = [];


        findMaintenance() {
            getMaintenance('technical_maintenance')
                .then((res: any) => {
                    this.viewMaintenance = res;
                });
        }

        deleteMaintenanceById(id: number) {
            deleteMaintenanceById(id, 'technical_maintenance')
                .then(() => {
                    this.findMaintenance()
                })

        }

        created(): void {
            this.findMaintenance()
        }

    }
</script>

<style scoped>
    .table {
        margin-left: auto;
        margin-right: auto;
    }

</style>
