<template>
    <div v-if="isAdmin" class="hero is-dark">
        <div class="pt-6 mt-6 mb-1 pb-1">
            <div class="is-grouped-centered container has-text-centered">
                <div>
                    <div class="about">
                        <h1 class="title pt-2 mt-2">Tracked machines list</h1>

                        <h1>Total records: {{viewInfo.length}}</h1>

                        <SwitchBtn v-model="editMode">
                            <template v-if="editMode" #default>Turn off edit mode!</template>
                            <template v-else #default>Turn on edit mode!</template>
                        </SwitchBtn>
                        <hr>
                        <bulma-button class="mb-5" type="success" :loading="loadingSaveInDb" outlined @click="updateDatabase">SAVE TO DB</bulma-button>
                        <Warning @deleteWarning="editMode = false" v-model="editMode" :message="'Hi!'" type="danger">
                            <template #default>You are in edit mode! Please be careful!</template>
                        </Warning>
                        <h1 v-if="editMode" class="has-text-danger is-size-7">{{editModeErrorMsg}}</h1>
                        <bulma-button
                                class="mb-2 pb-2"
                                v-if="editMode"
                                type="success"
                                outlined
                                :loading="loadingChangeIntervals"
                                @click="endToStartTime"
                        >END INTERVALS TO START
                        </bulma-button>

                        <div class="hero table-container">
                            <TableList
                                    :viewInfo="viewInfo"
                                    :editMode="editMode"
                                    :loading="loading"
                                    :createTable="createTable"
                                    :inputError="inputError"
                                    :typeOptions="typeOptions"
                                    :deleteEntries="deleteEntries"
                                    :removeItem="removeItem"
                                    :checkInput="checkInput"
                                    :editEntry="editEntry"
                                    :editInfo="editInfo"
                            />

                        </div>

                        <div class="field">
                            <div class="file is-centered is-success">
                                <label class="file-label">
                                    <FileInput
                                            v-model="fileList"
                                            :multiple="multiple"
                                    >
                                        <template v-if="multiple" #default>Choose files to upload</template>
                                        <template v-else #default>Chose file to upload</template>

                                    </FileInput>
                                </label>
                            </div>
                        </div>

                        <bulma-select
                                v-if="isFileList && fileOptions.length > 1"
                                :options="fileOptions"
                                placeholder="Please select file..."
                                v-model="selectedFileIndex"
                        />

                        <bulma-select
                                v-if="sheets.length"
                                :options="sheets"
                                placeholder="Select Sheet"
                                v-model="selectedSheet"
                        />

                        <bulma-button
                                v-if="selectedSheet"
                                type="info"
                                @click="loadSheet">
                            Load Sheet
                        </bulma-button>

                        <SwitchBtn v-model="multiple">
                            <template v-if="multiple" #default>Turn off multiply file upload!</template>
                            <template v-else #default>Turn on multiply file upload!</template>
                        </SwitchBtn>
                    </div>


                    <SwitchBtn v-model="gpsHack">
                        <template v-if="gpsHack" #default>Hide GPS instruction hack!</template>
                        <template v-else #default>Show GPS instruction hack!</template>
                    </SwitchBtn>


                    <div class="mt-5" v-if="gpsHack">
                        <div>
                            <h1>First step: Login in <b>https://web.nipo-gps.com/GPS/</b> </h1>
                            <h1>Second step: Open adress <b>https://web.nipo-gps.com/GPS/innerHtml/Fuel_Reports/fuel_report_new.jsp</b></h1>
                            <h1>Third step: Grab ready data and step by step paste and run in console. </h1>

                        </div>
                        <div>
                            <h1 style="color: orange">Register array---></h1>
                            <h1>let machines = {{viewInfo}};</h1>
                        </div>
                        <div>
                            <h1 style="color: orange">Start script---></h1>
                            <h1> for (const element of machines) {
                                setTimeout(() => {
                                console.log('Script is started');
                                getFuelDataFromServler(element.track_id, element.start_date, element.start_time, element.end_date, element.end_time)

                                }, 500);

                                }</h1>

                        </div>
                        <hr>




                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="hero is-dark mt-6 pd-6" v-else>
        <h1 class="title mt-6 pt-6">
            Admin access only!
        </h1>
        <img class="image logo-access" src="../assets/fuel_logo3.png" alt="">
        <div class="hero mt-6 pt-6"></div>

    </div>
</template>

<script lang="ts">
    import {Component, Vue, Watch} from "vue-property-decorator";
    import {Getter} from "vuex-class";
    import {GET_ADMIN, GET_SORTED_RULE, VIEW_ATM, VIEW_PSM,} from '../store';
    import {
        compireMachines,
        createTable,
        decompireMachines,
        deleteData,
        editEntry,
        editName,
        removeInfo,
        reverseDataTime,
        setTrackedMachines
    } from "@/store/mutations";
    import {read, utils} from 'xlsx';
    import {BulmaSelectOption} from "@/types/bulma";
    import {getTrackerMachines, getTrackerTargetIntervals, updateTrackingTimeIntervals} from '@/api/machine';


    //todo table and create table button to be in other component

    @Component({})
    export default class Dashboard extends Vue {

        @Getter(VIEW_ATM) public viewATM: [] | undefined;
        @Getter(VIEW_PSM) public viewPSM: [] | undefined;
        @Getter(GET_SORTED_RULE) public isSorted: boolean | undefined;
        @Getter(GET_ADMIN) public isAdmin: boolean | undefined;

        viewInfo: any[] = [];
        editInfo: any[] = [];
        viewInfoEmptyIntervals: any[] = [];
        finalInFo: any[] = [];

        gpsHack: boolean = false;

        loading:boolean = false;
        loadingSaveInDb: boolean = false;
        loadingChangeIntervals: boolean = false;
        editMode: boolean = false;
        editModeErrorMsg: string = '';
        inputError: any = {
            name: [],
            indexId: [],
            id: [],
            startDate: [],
            startHour: [],
            endDate: [],
            endHour: [],
        };

        created(): void {
            let generalView = this.viewInfo;

            getTrackerMachines('all')

                .then((r) => this.viewInfoEmptyIntervals = r)
                .then(() => getTrackerTargetIntervals('atm')
                    .then((res) => {
                        let atmBase = res.data;

                        for (let i of atmBase) {
                            generalView.push(i)
                        }
                    }))
                .then(() => {
                getTrackerTargetIntervals('psm').then((res) => {
                    let psmBase = res.data;

                    for (let i of psmBase) {
                        generalView.push(i);
                    }

                })
                    .then(() => {
                        let secondView = this.viewInfoEmptyIntervals;

                        let preFinal = [...secondView, ...generalView];


                        // return preFinal.filter(val => generalView.includes(val))


                        // const uniqueObjects = [...new Map(preFinal.map(item => [item.track_id, item])).values()]
                        return [...new Map(preFinal.map(item => [item.track_id, item])).values()]

                    }).then((merged) => this.finalInFo = merged)
                    .then((m) => {
                        this.viewInfo = m;
                    })
            });
        }

        // File Upload Process
        multiple: boolean = false;

        // Step 1. Files

        fileList: File | FileList | null = null;

        @Watch("fileList")
        watchFileList(f: File | FileList | null) {
            this.selectedFileIndex = null;

            this.sheetData = null;
            this.selectedSheet = '';

            if (!f) {
                return
            }

            if (f instanceof FileList) {
                if (f.length === 1) {
                    this.file = f[0]
                }

                return
            }

            this.file = f
        }

        get isFileList(): boolean {
            return this.fileList instanceof FileList
        }

        get fileOptions(): BulmaSelectOption[] {
            const list = this.fileList;

            if (!(list instanceof FileList)) {
                return []
            }

            const options: BulmaSelectOption[] = [];

            for (const key in list) {
                if (!list.hasOwnProperty(key)) {
                    continue;
                }

                options.push({
                    name: `File: ${list[key].name}`,
                    value: key
                });
            }

            return options;
        }

        // Step 2. Select file if file list

        selectedFileIndex: number | null = null;

        @Watch("selectedFileIndex")
        watchSelectedFile(f: number | null | undefined) {
            const index = Number(f);
            if (isNaN(index)) {
                return;
            }

            if (this.fileList instanceof FileList) {
                this.file = this.fileList[index] || null
            }
        }

        // Step 3. Read File

        file: File | FileList | null = null;
        table: any = null;
        sheetData: Record<string, string[][]> | null = null;
        selectedSheet: string = '';

        get sheets(): BulmaSelectOption[] {
            if (!this.sheetData) {
                return []
            }

            return Object.keys(this.sheetData).map((v) => {
                return {
                    name: `Sheet: ${v}`,
                    value: v
                }
            });
        }

        @Watch("file")
        watchFile(newFile: any | null) {
            if (!newFile) {
                return;
            }

            const reader = new FileReader();

            reader.addEventListener("load", (e: ProgressEvent<FileReader>) => {
                const data = e.target?.result;
                // As uint8 array
                // this.table = read(new Uint8Array(data), {type:  'array'});
                this.table = read(data, {type: 'binary'});
                const result: Record<string, string[][]> = {};
                this.table.SheetNames.forEach((sheetName: string) => {
                    const roa = utils.sheet_to_json(this.table.Sheets[sheetName], {header: 1});
                    if (roa.length) {
                        // @ts-ignore
                        result[sheetName] = roa
                    }
                });

                this.sheetData = result;
            });
            reader.readAsBinaryString(newFile);
        }

        loadSheet() {
            const sheet = this.selectedSheet;

            console.log(`this is sheets:`, sheet);


            if (!sheet) {
                alert('no sheet');
                return;
            }

            if (!this.sheetData) {
                alert('no sheet data');
                return;
            }

            console.log(this.sheetData);

            if (!(sheet in this.sheetData)) {
                alert('no data for this sheet');
                return;
            }

            const data = this.sheetData[sheet];

            console.log(`this is data: `, data);

            data.splice(0, 1);
            this.inputError = {
                name: [],
                indexId: [],
                id: [],
                startDate: [],
                startHour: [],
                endDate: [],
                endHour: [],
            };

            const machines: any[] = data.map((v) => {
                return {
                    track_id: String(v[0]),
                    name: String(v[1]),
                    registration: String(v[2]),
                    start_date: String(v[3]),
                    start_time: String(v[4]),
                    end_date: String(v[5]),
                    end_time: String(v[6]),
                    index_id: Number(v[7]),
                }
            });

            // console.log("This is machines from upload:", machines);
            // setData(machines);

            console.log('machines PRE LOAD', machines);
            this.viewInfo = machines;



        }

        // End File Upload

        typeOptions: BulmaSelectOption[] = [
            {
                value: 'biaxial',
                name: 'двуос'
            },
            {
                value: 'trios',
                name: 'триос'
            },
            {
                value: 'crane',
                name: 'кран'
            },
            {
                value: 'bus',
                name: 'бус'
            },
            {
                value: 'pickup',
                name: 'пикап'
            },

        ];

        editEntry(data: any) {
            editEntry(data)
        }

        checkInput(index: number, info: string, type: string, value: string): void {
            let data = [index, value, type];

            if (info === '' || info === null || info === undefined) {
                this.inputError[type][index] = `The field can't be empty!`;
            } else {
                this.inputError[type][index] = '';
                this.editEntry(data)
            }

        }

        deleteEntries() {
            this.startLoading();
            deleteData()
        }

        createTable() {
            this.startLoading();
            createTable(this.viewInfo)
        }

        editName() {
            editName()
        }

        removeItem(index: number) {
            this.inputError.name.splice(index, 1);
            this.inputError.indexId.splice(index, 1);
            this.inputError.id.splice(index, 1);
            this.inputError.startDate.splice(index, 1);
            this.inputError.startHour.splice(index, 1);
            this.inputError.endDate.splice(index, 1);
            this.inputError.endHour.splice(index, 1);
            removeInfo(index)
        }

        startLoading() {
            this.loading = true;

            setTimeout(() => {
                this.loading = false;
            }, 500)
        }

        sortByIndexId() {
            if (!this.isSorted) {
                compireMachines()

            } else if (this.isSorted) {
                decompireMachines()
            }
        }

        reverseDataTime() {
            reverseDataTime()
        }

        endToStartTime() {
            this.loadingChangeIntervals = true;
            let data = this.viewInfo;

            for (let i in this.viewInfo) {


                data[i].start_date = data[i].end_date;
                data[i].start_time = data[i].end_time;

                data[i].end_date = '';
                data[i].end_time = '';


            }
            setTimeout(() => {
            this.loadingChangeIntervals = false;

            }, 300)
        }


        updateDatabase() {
            this.loadingSaveInDb = true;

            setTrackedMachines(this.viewInfo)

            let uploadData = this.viewInfo;
            let editInfo = this.editInfo;

            if (uploadData === undefined) {
                return
            } else {
                for (let i of uploadData) {

                    if (
                        i['start_date'] && i['start_time'] &&
                        i['end_date'] && i['end_time']
                    ) {
                        editInfo.push({
                            track_id: i['track_id'],
                            start_date: i['startDate'],
                            start_time: i['startHour'],
                            end_date: i['endDate'],
                            end_time: i['endHour']
                        })

                    }

                }

            }

            for (let i of uploadData) {

                updateTrackingTimeIntervals(i).then(() => {
                    setTimeout(() => {
                    this.loadingSaveInDb = false;
                    }, 300)
                });
            }

        }

        getIntervals(type: string) {

            return getTrackerTargetIntervals(type)
        }

        removeItemData(data: string) {
            removeInfo(data);
            return this.$emit('refreshDatabase')
                && this.$emit('changeDatabase')
        }

    }
</script>

<style scoped>
    .logo {
        max-width: 150px;
        max-height: 150px;
    }

    .logo-access {
        max-height: 250px;
        max-width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
