<template>
    <div v-if="isAdmin" class="hero mt-6 pt-6 is-fullheight is-dark">
        <h1 class="title">Tracker machines settings</h1>
        <h1 class="subtitle">Add new machine</h1>
<!--        <button @click="globalSet">set All</button>-->

        <div class="column is-half is-offset-one-quarter pl-6 pr-6">

            <h1>Select type:</h1>
            <bulma-select
                    placeholder="Select machine type"
                    v-model="data.to"
                    reqired
                    :items="selectOptions"
                    :options="selectOptions"
            >
            </bulma-select>

            <h1>Enter name</h1>
            <bulma-text-field v-model="data.name"/>
            <h1>Enter registration</h1>
            <bulma-text-field v-model="data.registration"/>
            <h1>Enter track_id</h1>
            <bulma-text-field v-model="data.track_id"/>
            <h1>Enter index_id</h1>
            <bulma-text-field v-model="data.index_id"/>

            <bulma-button class="pt-2 mt-2"
                          @click="setMachine()"
                          type="success" outlined
                          :loading="loading">
                <template #default>Add Machine</template>
            </bulma-button>


            <Warning
                    v-if="warning"
                    :message="'Error: Fill correct all information!'"
                    :value="true"
                    type="danger"
                    class="mt-5 pt-5"
                    @deleteWarning="warning = !warning"
            />

        </div>
        <h1 class="title">ATM</h1>
        <SwitchBtn
                v-model="atmEdit"
                @input="getMachines"
        />
        <div class="hero-body">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>id</th>
                    <th>track_id</th>
                    <th>index_id</th>
                    <th>name</th>
                    <th>registration</th>
                </tr>
                </thead>
                <tbody v-for="i of atm_machines">
                <th>{{i.id}}</th>
                <th v-if="atmEdit">
                    <input
                            class="input is-small"
                            v-model="i.track_id"
                            @input="editMachine(i, 'atm')"
                            type="text"
                    >
                </th>
                <th v-else>{{i.track_id}}</th>
                <th v-if="atmEdit">
                    <input
                            class="input is-small"
                            v-model="i.index_id"
                            @input="editMachine(i, 'atm')"
                            type="text"
                    >
                </th>
                <th v-else>{{i.index_id}}</th>
                <th v-if="atmEdit">
                    <input
                            class="input is-small"
                            v-model="i.name"
                            @input="editMachine(i, 'atm')"
                            type="text"
                    >
                </th>
                <th v-else>{{i.name}}</th>
                <th v-if="atmEdit">
                    <input
                            class="input is-small"
                            v-model="i.registration"
                            @input="editMachine(i, 'atm')"
                            type="text"
                    >
                </th>
                <th v-else>{{i.registration}}</th>
                <th v-if="atmEdit">
                    <button @click="deleteMachine(i, 'atm')">X</button>
                </th>
                </tbody>
            </table>
        </div>
        <SwitchBtn
                v-model="psmEdit"
                @input="getMachines"
        />
        <h1 class="title">PSM</h1>
        <div class="hero-body">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>id</th>
                    <th>track_id</th>
                    <th>index_id</th>
                    <th>name</th>
                    <th>registration</th>
                </tr>
                </thead>
                <tbody v-for="i of psm_machines">
                <th>{{i.id}}</th>
                <th v-if="psmEdit">
                    <input
                            class="input is-small"
                            v-model="i.track_id"
                            @input="editMachine(i, 'psm')"
                            type="text"
                    >
                </th>
                <th v-else>{{i.track_id}}</th>
                <th v-if="psmEdit">
                    <input
                            class="input is-small"
                            v-model="i.index_id"
                            @input="editMachine(i, 'psm')"
                            type="text"
                    >
                </th>
                <th v-else>{{i.index_id}}</th>
                <th v-if="psmEdit">
                    <input
                            class="input is-small"
                            v-model="i.name"
                            @input="editMachine(i, 'psm')"
                            type="text"
                    >
                </th>
                <th v-else>{{i.name}}</th>
                <th v-if="psmEdit">
                    <input
                            class="input is-small"
                            v-model="i.registration"
                            @input="editMachine(i, 'psm')"
                            type="text"
                    >
                </th>
                <th v-else>{{i.registration}}</th>
                <th v-if="psmEdit">
                    <button @click="deleteMachine(i, 'psm')">X</button>
                </th>
                </tbody>
            </table>
        </div>


    </div>
    <div class="hero-body mt-6 pt-6" v-else>Please login!</div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import {Getter} from 'vuex-class';
    import {GET_ADMIN, VIEW_PSM, VIEW_ATM} from '@/store';
    import {createTrackerMachineEntry, getTrackerMachines, editTrackerMachineEntry, deleteTrackerMachineEntry} from '@/api/machine';


    @Component export default class GpsMachinesSet extends Vue {

        @Getter(GET_ADMIN) public isAdmin: boolean | undefined;
        @Getter(VIEW_PSM) public viewPSM: [] | undefined;
        @Getter(VIEW_ATM) public viewATM: [] | undefined;

        loading: boolean = false;
        warning: boolean = false;

        selectOptions = [
            {value: 'atm', name: 'ATM'},
            {value: 'psm', name: 'PSM'},
        ];

        data: any = {
            track_id: '',
            index_id: '',
            name: '',
            registration: '',
            to: ''
        };

        atm_machines: any[] = [];
        psm_machines: any[] = [];

        atmEdit: boolean = false;
        psmEdit: boolean = false;


        //for fast include to DB only!
        // globalSet(data: any[]) {
        //     for (let i in this.viewPSM) {
        //         let trackId = this.viewPSM[i].id;
        //         let indexId = this.viewPSM[i].indexId;
        //         let name = this.viewPSM[i].name;
        //         let registration = this.viewPSM[i].name;
        //
        //         let data = {
        //             track_id: trackId,
        //             index_id: indexId,
        //             name: name,
        //             registration: registration,
        //             to: 'psm'
        //         };
        //
        //         createTrackerMachineEntry(data);
        //
        //     }
        //
        //     for (let i in this.viewATM) {
        //         let trackId = this.viewATM[i].id;
        //         let indexId = this.viewATM[i].indexId;
        //         let name = this.viewATM[i].name;
        //         let registration = this.viewATM[i].name;
        //
        //         let data = {
        //             track_id: trackId,
        //             index_id: indexId,
        //             name: name,
        //             registration: registration,
        //             to: 'atm'
        //         };
        //
        //         createTrackerMachineEntry(data);
        //
        //     }
        //
        // }

        setMachine() {
            this.warning = false;
            this.loading = true;
            if (
                this.data.track_id === '' ||
                this.data.index_id === '' ||
                this.data.name === '' ||
                this.data.registration === '' ||
                this.data.to === ''

            ) {
                this.warning = true;
                this.loading = false;
            } else {
                let data = this.data;
                let to = this.data.to;

                createTrackerMachineEntry(data);
                getTrackerMachines(to).then((res) => {
                    let machineType = to + '_machines';

                    setTimeout(() => {
                        this.loading = false;
                    }, 300);

                    return this[machineType] = res;

                });

            }
            setTimeout(() => {
                this.loading = false;
            }, 300);
        }

        editMachine(machine: any, type: string) {

            let machineEditData = {
                id: machine.id,
                track_id: machine.track_id,
                index_id: machine.index_id,
                name: machine.name,
                registration: machine.registration,
                to: type

            };
            editTrackerMachineEntry(machineEditData);
        }

        deleteMachine(data: any, type: string) {

            let deleteMachine = {
                id: data.id,
                from: type
            };

            deleteTrackerMachineEntry(deleteMachine)
                .then(() => this.getMachines())

        }

        getMachines(): void {

            getTrackerMachines('atm')
                .then((res) => {
                    this.atm_machines = res;
                });
            getTrackerMachines('psm')
                .then((res) => {
                    this.psm_machines = res;
                });
        }

        created(): void {
            this.getMachines();
        }

    }
</script>

<style scoped>

</style>
