<template>

    <div v-if="loadingBar">
        <div class="hero is-dark is-fullheight">
            <h1 class="title pt-6 mt-6"></h1>
            <div class="loader"></div>
            <div class="hero is-dark mt-6 pt-6"></div>
            <div class="hero is-dark mt-6 pt-6"></div>
        </div>
    </div>

    <div v-else>

    <div v-if="isLogin" class="hero is-dark">
        <div class="mt-3"></div>
        <img class="mt-6 logo loader_base" src="../assets/db.png">
        <div>
            <div class="hero-body is-grouped-centered container has-text-centered">
                <div>
                    <div class="about">
                        <h1 class="title">WayBills Database</h1>
                        <h1 class="subtitle">Database entries: {{viewDatabase.length}}</h1>

                        <div class="columns is-centered">
                            <div class="column is-narrow">
                                <h1 class="subtitle">Set interval:</h1>
                                <h4>from</h4>
                                <input @input="getInfoByInterval('registration')" v-model="fromDate" type="date">
                                <h4>to</h4>
                                <input @input="getInfoByInterval('registration')" v-model="toDate" type="date">
                                <h1 class="subtitle mt-3">Filter by:</h1>
                                <div class="field">
                                    <input @input="prepareFilter('registration')" class="is-checkradio" type="radio"
                                           name="exampleRadioInline" checked="checked">
                                    <label> Registration </label>
                                    <input @input="prepareFilter('worker')" class="is-checkradio" type="radio"
                                           name="exampleRadioInline">
                                    <label> Worker </label>
                                    <input @input="prepareFilter('location')" class="is-checkradio" type="radio"
                                           name="exampleRadioInline">
                                    <label> Location </label>
                                </div>
                                <bulma-text-field
                                        v-if="filterByRegistration"
                                        class="control is-half"
                                        @input="filterDatabase"
                                        v-model="filterMachine"
                                        placeholder="Filter by registration..."
                                >
                                </bulma-text-field>
                                <bulma-text-field
                                        v-if="filterByWorker"
                                        class="control is-half"
                                        @input="filterDatabase"
                                        v-model="filterMachine"
                                        placeholder="Filter by worker..."
                                >
                                </bulma-text-field>
                                <bulma-text-field
                                        v-if="filterByLocation"
                                        class="control is-half"
                                        @input="filterDatabase"
                                        v-model="filterMachine"
                                        placeholder="Filter by location..."
                                >
                                </bulma-text-field>
                            </div>
                        </div>

                        <hr>
                        <SwitchBtn v-model="editMode">
                            <template v-if="editMode" #default>Turn off edit mode!</template>
                            <template v-else #default>Turn on edit mode!</template>
                        </SwitchBtn>
                        <Warning @deleteWarning="editMode = false" v-model="editMode" :message="'Hi!'" type="danger">
                            <template #default>You are in edit mode! Please be careful!</template>
                        </Warning>
                        <h1 v-if="editMode" class="has-text-danger is-size-7">{{editModeErrorMsg}}</h1>

                        <div class="column is-fullwidth">

                            <TableList
                                    v-if="filterMachine.length"
                                    :viewGeneralDatabase="viewFilteredDatabase"
                                    :editMode="editMode"
                                    :deleteEntries="deleteEntries"
                                    :removeItem="removeItem"
                                    @itemRemoved = "getInfoByInterval('registration')"
                                    @orderRegistration="getInfoByInterval('registration')"
                                    @orderWorker="getInfoByInterval('worker')"
                                    @orderDate="getInfoByInterval('date')"
                                    @orderTotalKm="getInfoByInterval('kilometers')"
                                    @orderPlace="getInfoByInterval('place')"
                            />
                            <TableList
                                    v-else
                                    :viewGeneralDatabase="viewDatabase"
                                    :editMode="editMode"
                                    :deleteEntries="deleteEntries"
                                    :removeItem="removeItem"
                                    @itemRemoved = "getInfoByInterval('registration')"
                                    @orderRegistration="getInfoByInterval('registration')"
                                    @orderWorker="getInfoByInterval('worker')"
                                    @orderDate="getInfoByInterval('date')"
                                    @orderTotalKm="getInfoByInterval('kilometers')"
                                    @orderPlace="getInfoByInterval('place')"
                            />
                            <br/>
                        </div>


                        <bulma-button @click="createTable" type="warning" outlined :loading="loading">
                            CREATE TABLE
                        </bulma-button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <Help></Help>
    </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import {Getter} from "vuex-class";
    import {VIEW_DATABASE, GET_LOGIN} from '@/store';
    import {deleteData, removeInfo, setMountlyDatabase} from "@/store/mutations";
    import axios from 'axios';

    //todo table and create table button to be in other component

    @Component({})
    export default class Database extends Vue {

        @Getter(VIEW_DATABASE) public viewInfo: [] | undefined;
        @Getter(GET_LOGIN) public isLogin: boolean | undefined;

        viewDatabase: any[] = [];
        viewFilteredDatabase: any[] = [];
        filterMachine: string = '';

        filterByRegistration: boolean = true;
        filterByWorker: boolean = false;
        filterByLocation: boolean = false;

        fromDate: string = '';
        toDate: string = '';

        toFetchYear: number = 0;
        toFetchMonth: number = 0;
        currentYear = new Date().getFullYear();
        currentMonth = new Date().getMonth() + 1;

        loadingBar:boolean = false;

        prepareFilter(param: string) {
            if (param === 'registration') {
                this.filterByRegistration = true;
                this.filterByWorker = false;
                this.filterByLocation = false
            }
            if (param === 'worker') {
                this.filterByRegistration = false;
                this.filterByWorker = true;
                this.filterByLocation = false
            }
            if (param === 'location') {
                this.filterByRegistration = false;
                this.filterByWorker = false;
                this.filterByLocation = true
            }

        }

        filterDatabase() {
            let machines = [...this.viewDatabase];
            let noMatch = false;

            let registration = this.filterByRegistration;
            let worker = this.filterByWorker;
            let location = this.filterByLocation;

            //todo: lenght , not sure
            if (this.filterMachine) {

                if (registration) {
                    machines = machines.filter((machine: any[string]) =>
                        machine.registration.toUpperCase()
                            .indexOf(this.filterMachine.toUpperCase()) >= 0);
                }
                if (worker) {
                    machines = machines.filter((machine: any[string]) =>
                        machine.worker.toUpperCase()
                            .indexOf(this.filterMachine.toUpperCase()) >= 0);
                }
                if (location) {
                    machines = machines.filter((machine: any[string]) =>
                        machine.place.toUpperCase()
                            .indexOf(this.filterMachine.toUpperCase()) >= 0);
                }
            }
            return this.viewFilteredDatabase = machines;
        }

        getInfoByInterval(parameter: string) {
            this.viewDatabase = [];
            let date = new Date();
            let today = date.getFullYear() + '-' + date.getMonth() + 1 + '-' + date.getDate();


            let start = this.fromDate;
            let end = this.toDate;

            if(start === '' || end === '') {
                start = '1990-05-18';
                end = today;
            }

                 axios.get('/get_waybills_by_interval.php', {params: [parameter, start, end]})
                     .then((res) => {
                         for (let key of res.data) {
                             this.viewDatabase.push(
                                 {
                                     name: key.name,
                                     registration: key.registration,
                                     worker: key.worker_name,
                                     date: key.date,
                                     total_km: key.total_km,
                                     place: key.location,
                                     position: key.position,
                                     type: key.type,
                                     index_id: key.index_id,
                                     location_work_id: key.location_work_id
                                 }
                             )
                         }

                     })
                     .catch((err) => {
                     console.log(err);
                 })
        }

        setMountlydatabase(arg: any) {
            setMountlyDatabase(arg);
        }

        createTable() {

            this.loading = true;
            setTimeout(() => {
                this.loading = false;
            }, 500);

            let db = this.viewDatabase;
            console.log(db);
            let filteredDb = this.viewFilteredDatabase;
            if (filteredDb.length > 0) {
                db = filteredDb;
            } else {
                db = this.viewDatabase;
            }


            let xlsx = require('xlsx');

            let jsonMachineData = JSON.stringify(db);

            let data = xlsx.utils.sheet_to_json(jsonMachineData);

            let newData = data.map((record: any) => {
                record.Net = record.Sales - record.Cost;
                return record;
            });

            let newWB = xlsx.utils.book_new();
            newWB.Props = {
                Title: 'SheetJS tutorial',
                Subject: 'Register.vue',
                Author: 'Pavel',
                CreatedDate: new Date(2020, 6, 20),
            };
            newWB.SheetNames.push('Test_Sheet');
            let pureArrayDataFromMachineData: any = [
                [
                    ['NAME'],
                    ['REGISTRATION'],
                    ['WORKER'],
                    ['DATE'],
                    ['TOTAL KM'],
                    ['PLACE'],
                    ['DAY_OF_MONTH'],
                    ['TYPE'],
                    ['INDEX_ID']
                ]
            ];
            // @ts-ignore
            let arayToArrayFromMachineData = (): [] => {
                for (let data of db) {
                    pureArrayDataFromMachineData.push([
                        [data.name],
                        [data.registration],
                        [data.worker],
                        [data.date],
                        [data.total_km],
                        [data.place],
                        [data.position],
                        [data.type],
                        [data.index_id]
                    ]);
                }

                return pureArrayDataFromMachineData;
            };

            newWB.Sheets['Test_Sheet'] = xlsx.utils.aoa_to_sheet(arayToArrayFromMachineData());

            let newWS = xlsx.utils.json_to_sheet(newData);
            xlsx.utils.book_append_sheet(newWB, newWS, 'empty');

            xlsx.writeFile(newWB, 'tableBase.xlsx');


        }

        created(): void {
            this.loadingBar = true;
            setTimeout(() => this.loadingBar = false, 1000)
            let currentYear = this.currentYear;
            let currentMonth = this.currentMonth;
            this.toFetchYear = currentYear;
            this.toFetchMonth = currentMonth;

            this.getInfoByInterval("registration");
        }

        loading: boolean = false;
        editMode: boolean = false;
        editModeErrorMsg: string = '';


        deleteEntries() {
            this.startLoading();
            deleteData()
        }


        removeItem(index: number) {
            console.log('func start-->');
            removeInfo(index);
            this.getInfoByInterval("registration");
        }

        startLoading() {
            this.loading = true;

            setTimeout(() => {
                this.loading = false;
            }, 500)
        }

    }
</script>

<style scoped>
    .logo {
        max-height: 150px;
        max-width: 150px;
        margin: 0 auto;
        position: relative;
    }
    .loader {
        border: 12px solid rgba(76, 76, 76, 0.47);
        border-radius: 90%;
        border-top: 5px solid #db4c2c;
        width: 150px;
        height: 141px;
        -webkit-animation: spin 1.7s linear infinite; /* Safari */
        animation: spin 1.7s linear infinite;
        margin: 0 auto
    }
    .loader_base {
        border: 12px solid #363636;
        border-radius: 90%;
        border-top: 5px solid #363636;
        width: 150px;
        height: 141px;
        -webkit-animation: spin 1.9s linear infinite; /* Safari */
        animation: spin 1.9s linear infinite;
        margin: 0 auto
    }
</style>

