@import '~bulma/sass/utilities/all';

// Components
@import '~bulma/sass/components/breadcrumb';
@import '~bulma/sass/components/card';
@import '~bulma/sass/components/menu';
@import '~bulma/sass/components/message';
@import '~bulma/sass/components/pagination';
@import '~bulma/sass/components/tabs';

// Elements
@import '~bulma/sass/elements/button';
@import '~bulma/sass/elements/content';
@import '~bulma/sass/elements/notification';
@import '~bulma/sass/elements/table';
@import '~bulma/sass/elements/tag';
@import '~bulma/sass/elements/title';

// Form / Inputs
@import '~bulma/sass/form/shared';
@import '~bulma/sass/form/tools';
@import '~bulma/sass/form/checkbox-radio';
@import '~bulma/sass/form/select';
@import '~bulma/sass/form/input-textarea';

// Grid
@import '~bulma/sass/grid/all';

// Delete Button
.delete {
    @extend %delete;
}

/** Custom **/

// Button
button.button {
    font-family: $family-primary;
}

a.button {
    color: $link;
    cursor: pointer;
    text-decoration: none;

    strong {
        color: currentColor;
    }

    &:hover {
        color: $link-hover;
    }
}

// Checkbox
.checkbox {
    user-select: none;
}

// Select
.select {
    width: 100%;
    min-width: 100px;

    select {
        width: 100%;
    }

    &:not(.is-multiple):not(.is-loading)::after {
        z-index: initial;
    }
}

// Menu
.menu {
    div:not(:first-child) .menu-label {
        margin-top: 1em;
    }
}

// Textarea
textarea {
    width: 100%;
    resize: none;
    /*min-height: 48px;*/
}

// Custom
.is-collapsible {
    height: 0;

    &.is-active {
        height: auto;
    }

    &.message-body {
        &.is-active {
            padding: $message-body-padding !important;
        }
    }
}

.message-header p {
    margin: 0;
}
