<template>
    <component
        ref="btn"
        :class="classes"
        :type="buttonType"
        :disabled="isDisabledReal"
        v-bind="hrefOrTo"
        :is="componentNode"
        @click="$emit('click')"
    >
        <slot name="default" />
    </component>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator'
import { sizes, buttonTypes } from '@/components/bulma/shared'
import { augmentCss } from '@/components/bulma/bulma'

@Component
export default class Button extends Vue {
    @Prop({
        type: String,
        default: undefined,
        validator(value: any): boolean {
            return buttonTypes.includes(value)
        },
    })
    type!: string

    @Prop({
        type: String,
        default: 'normal',
        validator(value: any): boolean {
            return sizes.includes(value)
        },
    })
    size!: string

    @Prop({
        type: [String, Object],
        default: undefined,
        required: false,
    })
    to!: string | Record<string, any>;
    @Prop({
        type: String,
        default: undefined,
    })
    href!: string;

    @Prop(Boolean) loading!: boolean;
    @Prop(Boolean) disabled!: boolean;
    @Prop(Boolean) active!: boolean;
    @Prop(Boolean) light!: boolean;
    @Prop(Boolean) outlined!: boolean;
    @Prop(Boolean) inverted!: boolean;
    @Prop(Boolean) round!: boolean;
    @Prop(Boolean) block!: boolean;
    @Prop(Boolean) submit!: boolean;

    $refs!: {
        btn: HTMLButtonElement | HTMLAnchorElement
    }

    get classes(): Record<string, boolean> {
        const classes: Record<string, boolean> = {
            button: true,
        }

        if (this.type) {
            classes[`is-${this.type}`] = true
        }

        if ('light' !== this.type) {
            classes['is-light'] = this.light
        }

        classes[`is-${this.size}`] = true;
        classes['is-active'] = this.active;
        classes['is-outlined'] = this.outlined;
        classes['is-inverted'] = this.inverted;
        classes['is-rounded'] = this.round;
        classes['is-fullwidth'] = this.block;
        classes['is-loading'] = this.loading;

        return augmentCss(classes)
    }

    get isDisabled(): boolean {
        return this.loading || this.disabled
    }

    get isDisabledReal(): string | undefined {
        return this.isDisabled ? 'disabled' : undefined
    }

    get hrefOrTo(): Record<string, any> | string {
        if (this.to) {
            return {
                to: this.to,
            }
        }

        return {
            href: this.href,
        }
    }

    get buttonType(): string | undefined {
        if ('button' === this.componentNode) {
            if (this.submit) {
                return 'submit'
            }

            return 'button'
        }

        return undefined
    }

    get componentNode(): string {
        if (this.to) {
            return 'RouterLink'
        }

        if (this.href) {
            return 'a'
        }

        return 'button'
    }

    focus(): void {
        this.$refs.btn.focus()
    }
}
</script>
