<template>
    <ul>
        <li v-for="(item, itemKey) in list" :key="itemKey" @click="$emit('item-click')">
            <router-link :to="item.to" :exactActiveClass="styles['is-active']" v-if="item.to">
                {{ item.label }}
            </router-link>
            <a :href="item.href" v-if="item.href">
                {{ item.label }}
            </a>
            <bulma-menu-test-list
                :list="item.children"
                v-if="item.children && item.children.length > 0"
                @item-click="$emit('item-click')"
            />
        </li>
    </ul>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { BulmaMenuItem } from '@/types/bulma'
import { styles } from '@/components/bulma/bulma'

@Component
export default class Menu extends Vue {
    @Prop({
        type: Array,
        required: true,
    })
    list!: BulmaMenuItem[];

    styles = styles;
}
</script>
