<template>
    <div :class="styles['menu']">
        <div v-for="(menu, listKey) in items" :key="listKey">
            <p :class="styles['menu-label']" v-if="menu.label">
                {{ menu.label }}
            </p>
            <bulma-menu-list :list="menu.items" :class="styles['menu-list']" @item-click="$emit('item-click')" />
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { BulmaMenuList } from '@/types/bulma'
import { styles } from '@/components/bulma/bulma'

@Component
export default class Menu extends Vue {
    @Prop({
        type: Array,
        required: true,
    })
    items!: BulmaMenuList[]

    styles = styles
}
</script>
