<template>
    <div :class="classes">
        <div :class="styles['message-header']" v-if="!!$slots.header">
            <template v-if="collapsible">
                <p>
                    <a
                        @click.prevent="toggleIsActive"
                       data-action="collapse"
                       :class="{[styles['is-active']]: isActiveReal}">
                        <slot name="header" />
                    </a>
                </p>
            </template>
            <template v-else>
                <slot name="header" />
            </template>
        </div>
        <div :class="{[styles['message-body']]: true, [styles['is-active']]: isActiveReal, [styles['is-collapsible']]: collapsible}"
             v-if="!!$slots.default">
            <slot name="default" />
        </div>
    </div>
</template>

<script lang="ts">
import { Prop, Component, Vue } from 'vue-property-decorator'
import { primaryTypes, sizes } from '@/components/bulma/shared'
import { augmentCss, styles } from '@/components/bulma/bulma'

@Component({})
export default class Message extends Vue {
    @Prop({
        type: String,
        default: undefined,
        validator(value: any): boolean {
            return primaryTypes.includes(value)
        },
    })
    type!: string

    @Prop({
        type: String,
        default: 'normal',
        validator(value: any): boolean {
            return sizes.includes(value)
        },
    })
    size!: string

    @Prop(Boolean) collapsible!: boolean
    @Prop(Boolean) isActive!: boolean

    isActiveLocal = false;

    get classes(): Record<string, boolean> {
        const classes: Record<string, boolean> = {
            message: true,
        }

        if (this.type) {
            classes[`is-${this.type}`] = true
        }

        if (this.size) {
            classes[`is-${this.size}`] = true
        }

        return augmentCss(classes)
    }

    get isActiveReal() {
        if (this.isActive) {
            return this.isActive
        }

        return this.isActiveLocal
    }

    toggleIsActive() {
        this.isActiveLocal = !this.isActiveLocal;
        this.$emit('update:is-active', this.isActiveLocal)
    }

    get styles(): Record<string, string> {
        return styles
    }
}
</script>
