<template>
    <div :class="styles['field']">
        <label :class="styles['label']" v-if="label">{{ label }}</label>
        <div :class="styles['control']">
            <div :class="classes">
                <select
                    ref="select"
                    tabindex="0"
                    :autocomplete="autocomplete"
                    :disabled="isDisabled"
                    @change="$emit('input', getValueForKey($event.target.value))"
                >
                    <option v-if="placeholder && required" value="" hidden>
                        {{ placeholder }}
                    </option>

                    <option v-else-if="placeholder" value="" :selected="emptyValue === value">
                        {{ placeholder }}
                    </option>

                    <option
                        v-for="(option, key) in options"
                        :key="option.value"
                        :value="key"
                        :selected="key === selectedIndex"
                    >
                        {{ option.name }}
                    </option>
                </select>
            </div>
        </div>
        <p :class="helpClasses" v-if="helpReal">{{ helpReal }}</p>
    </div>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator'
import { isNumeric } from '@/helpers'
import { sizes, primaryTypes } from '@/components/bulma/shared'
import { augmentCss, styles } from '@/components/bulma/bulma'
import { isEqual } from 'lodash-es'
import {BulmaSelectOption} from "@/types/bulma";

@Component({})
export default class Select extends Vue {

    @Prop({
        type: [String, Number, Boolean, Object, Array],
        // required: true,
    })
    value!: string | number | boolean | null | undefined | Record<PropertyKey, any> | []
    @Prop({
        type: [String, Number, Boolean],
        // todo shouldn't we use null as the default value?
        default: undefined,
        // required: true,
    })
    emptyValue!: string | number | boolean | null | undefined
    @Prop({
        type: Array,
        // required: true,
    })
    options!: BulmaSelectOption[]
    @Prop({
        type: String,
        default: undefined,
        validator(value: any): boolean {
            return primaryTypes.includes(value)
        },
    })
    type!: string
    @Prop({
        type: String,
        default: undefined,
        validator(value: any): boolean {
            return primaryTypes.includes(value)
        },
    })
    helpType!: string
    @Prop({
        type: String,
        default: 'normal',
        validator(value: any): boolean {
            return sizes.includes(value)
        },
    })
    size!: string
    @Prop(String) placeholder!: string
    @Prop(String) autocomplete!: string
    @Prop(Boolean) required!: boolean
    @Prop(Boolean) disabled!: boolean
    @Prop(Boolean) round!: boolean
    @Prop(Boolean) loading!: boolean

    @Prop(String) label!: string
    @Prop(String) help!: string

    @Prop(String) error!: string

    get helpReal(): string | undefined {
        if (this.error) {
            return this.error
            // return this.errorMsg;
        }

        return this.help
    }

    get helpTypeReal(): string | undefined {
        if (this.error) {
            return 'danger'
        }

        return this.helpType
    }

    $refs!: {
        select: HTMLSelectElement
    }

    getValueForKey(key: string | number): string | number | boolean | null | undefined | Record<PropertyKey, any> | [] {
        if ('' === key) {
            return this.emptyValue
        }

        if (!isNumeric(key)) {
            return this.emptyValue
        }

        const value = this.options[Number(key)]

        if (!value) {
            return this.emptyValue
        }

        return value.value
    }

    get selectedIndex(): number {
        return this.options.findIndex((v: BulmaSelectOption) => {
            const type = typeof this.value

            if (type === 'object') {
                return isEqual(this.value, v.value)
            }

            return this.value === v.value
        })
    }

    get classes(): Record<string, boolean> {
        const classes: Record<string, boolean> = {
            select: true,
        }

        if (this.type) {
            classes[`is-${this.type}`] = true
        }

        classes['is-rounded'] = this.round
        classes[`is-${this.size}`] = true
        classes['is-loading'] = this.loading

        return augmentCss(classes)
    }

    get helpClasses(): Record<string, boolean> {
        const classes: Record<string, boolean> = {
            help: true,
        }

        if (this.helpTypeReal) {
            classes[`is-${this.helpTypeReal}`] = true
        }

        return augmentCss(classes)
    }

    get isDisabled(): boolean {
        return this.loading || this.disabled
    }

    get styles(): Record<string, string> {
        return styles
    }

    focus(): void {
        this.$refs.select.focus()
    }
}
</script>
