<template>
    <div :class="styles['field']">
        <label :class="styles['label']" v-if="label">{{ label }}</label>
        <div :class="styles['control']">
            <textarea
                ref="input"
                rows="1"
                v-model="model"
                :class="classes"
                :placeholder="realPlaceholder"
                :required="required"
                @focus="$emit('focus')"
                @blur="$emit('blur')"
            />
        </div>
        <p :class="helpClasses" v-if="helpReal">{{ helpReal }}</p>
    </div>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator'
import { primaryTypes } from '@/components/bulma/shared'
import {augmentCss, styles} from '@/components/bulma/bulma'

@Component
export default class TextArea extends Vue {
    @Prop({
        type: String,
        required: true,
    })
    value!: string

    @Prop({
        type: String,
        default: undefined,
        validator(value: any): boolean {
            return primaryTypes.includes(value)
        },
    })
    type!: string

    @Prop({
        type: String,
        default: undefined,
        validator(value: any): boolean {
            return primaryTypes.includes(value)
        },
    })
    helpType!: string

    @Prop(String) placeholder!: string
    @Prop(String) label!: string
    @Prop(String) help!: string
    @Prop(Boolean) required!: boolean

    @Prop(String) error!: string

    get helpReal(): string | undefined {
        if (this.error) {
            return this.error
        }

        return this.help
    }

    get helpTypeReal(): string | undefined {
        if (this.error) {
            return 'danger'
        }

        return this.helpType
    }

    $refs!: {
        input: HTMLTextAreaElement
    }

    @Watch("value")
    watchValue() {
        this.resize()
    }

    mounted(): void {
        this.resize()
    }

    get model(): string {
        return this.value
    }

    set model(value: string) {
        this.$emit('input', value)
    }

    get classes(): Record<string, boolean> {
        const classes: Record<string, boolean> = {
            textarea: true,
        }

        if (this.type) {
            classes[`is-${this.type}`] = true
        }

        return augmentCss(classes)
    }

    get helpClasses(): Record<string, boolean> {
        const classes: Record<string, boolean> = {
            help: true,
        }

        if (this.helpTypeReal) {
            classes[`is-${this.helpTypeReal}`] = true
        }

        return augmentCss(classes)
    }

    get realPlaceholder(): string {
        if (this.required) {
            return `* ${this.placeholder}`
        }

        return this.placeholder
    }

    resize(): void {
        this.$refs.input.style.height = 'auto'
        this.$nextTick(() => {
            let contentHeight = this.$refs.input.scrollHeight + 2

            if (contentHeight < 48) {
                contentHeight = 48
            }

            this.$refs.input.style.height = `${contentHeight}px`
        })
    }

    get styles(): Record<string, string> {
        return styles
    }

    focus(): void {
        this.$refs.input.focus()
    }

    blur(): void {
        this.$refs.input.blur()
    }
}
</script>
