<template>
    <div :class="styles['field']">
        <label :class="styles['label']" v-if="label">{{ label }}</label>
        <div :class="styles['control']">
            <input ref="input" v-model="model" v-bind="attributes" @focus="$emit('focus')" @blur="$emit('blur')" />
        </div>
        <p :class="helpClasses" v-if="helpReal">{{ helpReal }}</p>
    </div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator'
import { primaryTypes } from '@/components/bulma/shared'
import {augmentClasses, augmentCss, styles} from '@/components/bulma/bulma'

@Component({})
export default class TextField extends Vue {
    @Prop({
        type: [String, Number],
        required: false,
    })
    value!: string

    @Prop({
        type: String,
        default: undefined,
        validator(value: any): boolean {
            return primaryTypes.includes(value)
        },
    })
    type!: string


    @Prop({
        type: String,
        default: undefined,
        validator(value: any): boolean {
            return primaryTypes.includes(value)
        },
    })
    helpType!: string

    @Prop(String) placeholder!: string | any
    @Prop(String) label!: string
    @Prop(String) help!: string
    @Prop(Boolean) required!: boolean
    @Prop(Boolean) password!: boolean
    @Prop(Boolean) number!: boolean
    @Prop(Boolean) email!: boolean
    @Prop(Boolean) current!: boolean
    @Prop(Boolean) username!: boolean

    // Number Input Props
    @Prop(Number) min!: number
    @Prop(Number) step!: number

    @Prop(String) error!: string

    get helpReal(): string | undefined {
        if (this.error) {
            return this.error;
            // return this.errorMsg;
        }

        return this.help
    }

    get helpTypeReal(): string | undefined {
        if (this.error) {
            return 'danger'
        }

        return this.helpType
    }

    $refs!: {
        input: HTMLInputElement
    }

    get model(): string {
        return this.value
    }

    set model(value: string) {
        this.$emit('input', value)
    }

    get classes(): Record<string, boolean> {
        const classes: Record<string, boolean> = {
            input: true,
        }

        if (this.type) {
            classes[`is-${this.type}`] = true
        }

        return augmentCss(classes)
    }

    get helpClasses(): Record<string, boolean> {
        const classes: Record<string, boolean> = {
            help: true,
        }

        if (this.helpTypeReal) {
            classes[`is-${this.helpTypeReal}`] = true
        }

        return augmentCss(classes)
    }

    get realPlaceholder(): string {
        if (this.required) {
            return `* ${this.placeholder}`
        }

        return this.placeholder
    }

    get inputType(): string {
        if (this.password) {
            return 'password'
        }

        if (this.email) {
            return 'email'
        }

        if (this.number) {
            return 'number'
        }

        return 'text'
    }

    get attributes(): Record<string, any> {
        const dict: Record<string, any> = {
            class: this.classes,
            placeholder: this.realPlaceholder,
            required: this.required,
            type: this.inputType,
        }

        if (this.autocomplete) {
            dict.autocomplete = this.autocomplete
        }

        if ('number' === this.inputType) {
            dict.min = this.min
            dict.step = this.step
        }

        return dict
    }

    get autocomplete(): string | undefined {
        if (this.password) {
            if (this.current) {
                return 'current-password'
            }

            return 'new-password'
        }

        if (this.username) {
            return 'username'
        }

        return undefined
    }

    get styles(): Record<string, string> {
        return styles
    }

    focus(): void {
        this.$refs.input.focus()
    }

    blur(): void {
        this.$refs.input.blur()
    }
}
</script>
