<template>
<WelcomeInfo>
    <template #title>
        Access is denied!
        <img class="image logo-lock mt-2 pt-2" src="../assets/lock.png" alt="">


    </template>
    <template #default>
        Only logged in users have full access!
    </template>
</WelcomeInfo>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";

    @Component export default class Help extends Vue {


    }
</script>

<style scoped>
    .logo-lock {
        max-height: 250px;
        max-width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

</style>
