<template>
    <div class="hero is-fullheight">
        <div v-if="audit || monitor" class="column is-half is-offset-one-quarter">
            <hr>
            <h1 class="subtitle">Registration</h1>
            <bulma-select
                    @input="resetWarnings"
                    placeholder="Select machine registration"
                    v-model="machineData.machineRegistration_id"
                    reqired
                    :items="selectMachineRegistrationOptions"
                    :options="selectMachineRegistrationOptions"
                    :error="errorRegistration"
            >
            </bulma-select>
            <bulma-text-field
                    @input="filterMachines"
                    v-model="filterMachine"
                    placeholder="Or search machine by registration..."
            >
            </bulma-text-field>
        </div>
        <div v-if="audit" class="column is-half is-offset-one-quarter">
            <h1 class="subtitle">Worker name:</h1>
            <bulma-select
                    @input="resetWarnings"
                    placeholder="Select worker name"
                    v-model="machineData.workerName_id"
                    reqired
                    :items="selectWorkerOptions"
                    :options="selectWorkerOptions"
                    :error="errorWorkerName"
            >
            </bulma-select>
            <bulma-text-field
                    @input="filterWorkers"
                    v-model="filterWorker"
                    placeholder="Or search machine by registration..."
            >
            </bulma-text-field>
        </div>
        <div class="column is-half is-offset-one-quarter">
            <h1 v-if="audit" class="subtitle">Time and Date</h1>
            <h1 v-if="monitor" class="subtitle">Start Time and Date</h1>
            <div class="container">
                <div class="field">
                    <p class="control has-icon-left">
                        <span class="select">
            <input
                    @input="resetWarnings"
                    type="date"
                    class="input"
                    id="date"
                    name="date"
                    v-model="machineData.machineDate"
                    placeholder="Set time and date"
                    :error="errorDate"
                    required
                    date

            />
                        </span>
                    </p>
                    <p class="is-danger" v-if="errorDate" style="color: rgb(255,90,96); font-size: 12px;">Please enter
                        date!</p>
                </div>
            </div>
        </div>
        <div v-if="audit" class="column is-half is-offset-one-quarter">
            <h1 class="subtitle">First KM:</h1>
            <bulma-text-field
                    @input="resetWarnings"
                    placeholder="Set first KM or MH(default: 0)"
                    v-model="machineData.first_km"
                    required
                    :error="errorFirstKm"
            />
        </div>

        <div v-if="audit" class="column is-half is-offset-one-quarter">
            <h1 class="subtitle">Last KM:</h1>
            <bulma-text-field
                    @input="resetWarnings"
                    v-model="machineData.last_km"
                    type="success"
                    placeholder="Set last KM or MH(day worked moto hours!)"
                    :error="errorLastKm"
                    required
            />
        </div>


        <div v-if="audit" class="column is-half is-offset-one-quarter">
            <h1 class="subtitle">Worked place</h1>

            <bulma-select
                    @input="resetWarnings"
                    placeholder="Select worked place"
                    v-model="machineData.place_id"
                    reqired
                    :options="selctPlaceOptions"
                    :error="errorWorkedPlace"
            >
            </bulma-select>
            <bulma-text-field
                    @input="filterLocations"
                    v-model="filterLocation"
                    placeholder="Or search machine by registration..."
            >
            </bulma-text-field>
        </div>

        <div v-if="audit" class="column is-half is-offset-one-quarter">
            <h1>Add more places with kilometers...</h1>
            <SwitchBtn @input="resetWarnings" v-model="isOtherOptions"></SwitchBtn>
            <div v-if="isOtherOptions">
                <p class="control is-one-quarter">
                <h1>Other 1:</h1>
                <bulma-text-field
                        @input="resetWarnings"
                        v-model="firstKilometerForOtherPlace"
                        plceholder="Add custom kilometers per worked place"
                        required
                >

                </bulma-text-field>

                <bulma-select
                        @input="resetWarnings"
                        placeholder="Select worked place"
                        v-model="firstOtherWorkedPlace"
                        reqired
                        :items="selctPlaceOptions"
                        :options="selctPlaceOptions"
                        :error="errorAdditionalPlaceOne"
                >
                </bulma-select>

                <h1>Other 2:</h1>
                <bulma-text-field
                        @input="resetWarnings"
                        v-model="secondKilometerForOtherPlace"
                        plceholder="Add custom kilometers per worked place"
                        required
                >


                </bulma-text-field>

                <bulma-select
                        @input="resetWarnings"
                        placeholder="Select worked place"
                        v-model="secondOtherWorkedPlace"
                        reqired
                        :items="selctPlaceOptions"
                        :options="selctPlaceOptions"
                        :error="errorAdditionalPlaceOne"
                >
                </bulma-select>

                <h1>Other 3:</h1>
                <bulma-text-field
                        @input="resetWarnings"
                        v-model="thirdKilometerForOtherPlace"
                        plceholder="Add custom kilometers per worked place"
                        required
                >


                </bulma-text-field>

                <bulma-select
                        @input="resetWarnings"
                        placeholder="Select worked place"
                        v-model="thirdOtherWorkedPlace"
                        reqired
                        :items="selctPlaceOptions"
                        :options="selctPlaceOptions"
                        :error="errorAdditionalPlaceOne"
                >
                </bulma-select>

            </div>
        </div>
        <div class="column is-half is-offset-one-quarter">

            <bulma-button @click="setData" type="success" outlined :loading="loading">
                <template #default>Add Entry</template>
            </bulma-button>
        </div>


        <div class="column is-half is-offset-one-quarter" v-if="dataError">
            <div class="message is-danger">
                <div class="message-header">
                    <p>Error</p>
                </div>
                <div class="message-body">
                    Some information is not defined, missed or not set correctly!
                </div>
            </div>
        </div>
        <div class="column is-half is-offset-one-quarter" v-else-if="dataIsDefined">
            <div>
                <div class="message is-success">
                    <div class="message-header">
                        <p>Success</p>
                    </div>
                    <div class="message-body">
                        Entry added successfully.
                    </div>
                </div>
            </div>

        </div>


        <div v-else></div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from "vue-property-decorator";
    import {Getter} from "vuex-class";
    import {addData} from "@/store/mutations.ts";
    import {VIEW_DATABASE} from "@/store";
    import axios from 'axios';
    import {createWaybill} from "@/api/machine";
    import utf8 from 'utf8';


    // todo
    // 1. Data for new machines to be object and v-models to be bound to object properties.++-
    // 2. Function which tests errors to trow errors ---> (err) => (....)
    // 3. Option to three fields to be computed---. server data --- field + 3 computer getters... servet ---> component and computed to fo
    // rmat bulma select
    // 4. To be NOT ARRAY from ARRAY , to be array from Objects...
    @Component
    export default class CreateVehicle extends Vue {

        // selectedValue(value: any) {
        //     this.fuelType = value;
        // }

        @Prop(Boolean) audit: boolean | undefined;
        @Prop(Boolean) monitor: boolean | undefined;

        @Getter(VIEW_DATABASE) public viewInfo: [] | undefined;

        error: boolean = false;
        errorRegistration: string = '';
        errorFirstKm: string = '';
        errorLastKm: string = '';
        errorWorkerName: string = '';
        errorWorkedPlace: string = '';
        errorDate: string = '';

        errorAdditionalPlaceOne = '';
        errorAdditionalPlaceTwo = '';
        errorAdditionalPlaceThree = '';

        dataError: boolean = false;
        dataIsDefined: boolean = false;
        loading: boolean = false;

        filterMachine: string = '';
        filterWorker: string = '';
        filterLocation: string = '';

        // machineName: number | null = null;
        // machineRegistrationNumber: number | null = null;
        // firstKM: number = 0;
        // lastKM: number = 0;
        // workerName: number | null = null;
        // workedPlace: number | null = null;
        // machineDate: string = "";

        machineData: machineData = {
            machineName_id: null,
            machineRegistration_id: null,
            first_km: null,
            last_km: null,
            workerName_id: null,
            place_id: null,
            machineDate: ''
        };

        // machineName_id: number | null,
        // machineRegistration_id: number | null,
        // first_km: number | null,
        // last_km: number | null,
        // workerName_id: number | null,
        // place_id: number | null,
        // machineDate: string


        firstOtherWorkedPlace: number = 0;
        firstKilometerForOtherPlace: number = 0;
        secondOtherWorkedPlace: number = 0;
        secondKilometerForOtherPlace: number = 0;
        thirdOtherWorkedPlace: number = 0;
        thirdKilometerForOtherPlace: number = 0;

        machinesFromDB: any[] = [];
        placesFromDB: any[] = [];
        workersFromDB: any[] = [];

        selectMachineNameOptions: any[] = [];
        selectMachineRegistrationOptions: any[] = [];
        selectWorkerOptions: any[] = [];
        selctPlaceOptions: any[] = [];

        isOtherOptions: boolean = false;

        resetWarnings() {
            this.dataIsDefined = false;
            this.dataError = false;
        }

        getAllDatabases(from: string, where: any[]): void {
            {
                axios.get(from)
                    .then((res) => {
                        for (let key in res.data) {
                            where.push(
                                {
                                    data: res.data[key],
                                }
                            )
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            }
        }

        getReadyDataFromAllDatabases() {
            // todo : remove
            this.machinesFromDB = [];
            this.workersFromDB = [];
            this.placesFromDB = [];
            this.getAllDatabases('get_machines.php', this.machinesFromDB);
            this.getAllDatabases('get_places.php', this.placesFromDB);
            this.getAllDatabases('get_workers.php', this.workersFromDB);
            setTimeout(() => {
                for (let i in this.machinesFromDB) {
                    this.selectMachineRegistrationOptions.push({
                        value: this.machinesFromDB[i].data.id,
                        name: this.machinesFromDB[i].data.registration
                    });
                    // this.selectMachineNameOptions.push(this.machinesFromDB[i].data.registration);
                }
                for (let i in this.workersFromDB) {
                    this.selectWorkerOptions.push({
                        value: this.workersFromDB[i].data.id,
                        name: this.workersFromDB[i].data.names
                    });
                }
                for (let i in this.placesFromDB) {
                    this.selctPlaceOptions.push({
                        value: this.placesFromDB[i].data.id,
                        name: this.placesFromDB[i].data.name
                    });
                }

            }, 500)

        }

        public setData(): void {
            this.resetWarnings();
            let registration = this.machineData.machineRegistration_id;
            let worker = this.machineData.workerName_id;
            let date = this.machineData.machineDate;
            let firstKm = this.machineData.first_km;
            let lastKm = this.machineData.last_km;
            let place = this.machineData.place_id;

            let additionalPlaceOne = this.firstOtherWorkedPlace;
            let additionalPlaceTwo = this.secondOtherWorkedPlace;
            let additionalPlaceThree = this.thirdOtherWorkedPlace;

            if (!registration) {
                this.error = true;
                this.errorRegistration = "Please fill the registration number!";
            } else {
                this.errorRegistration = '';
            }
            if (!worker) {
                this.error = true;
                this.errorWorkerName = "Please fill the worker name!";
            } else {
                this.errorWorkerName = '';
            }
            if (!date) {
                this.error = true;
                this.errorDate = "Please choose date!";
            } else {
                this.errorDate = '';
            }
            // todo first and lats km string to number
            if (!firstKm || firstKm === 0 || firstKm < 0 || firstKm === null) {
                this.error = true;
                this.errorFirstKm = "Please set first odometer!";
            } else {
                this.errorFirstKm = '';
            }
            if (!lastKm || lastKm === 0 || lastKm < 0 || lastKm === null) {
                this.error = true;
                this.errorLastKm = "Please set last odometer!";
            } else {
                this.errorLastKm = '';
            }
            if (place === null || place === undefined || !place) {
                this.error = true;
                this.errorWorkedPlace = "Please choose a location!";
            } else {
                this.errorWorkedPlace = '';
            }
            if (place === additionalPlaceOne ||
                place === additionalPlaceTwo ||
                place === additionalPlaceThree
            ) {

                let warning = "Error: Repetitive location!";

                if (place === additionalPlaceOne) {
                    this.errorAdditionalPlaceOne = warning;
                } else {
                    this.errorAdditionalPlaceOne = '';
                }
                if (place === additionalPlaceTwo) {
                    this.errorAdditionalPlaceTwo = warning;
                } else {
                    this.errorAdditionalPlaceTwo = '';
                }
                if (place === additionalPlaceThree) {
                    this.errorAdditionalPlaceThree = warning;
                } else {
                    this.errorAdditionalPlaceThree = '';
                }

                // todo: check general with other location

                this.error = true;
                this.errorWorkedPlace = "Please choose a DIFFERENT " +
                    "location for this or ADDITIONAL places!";
            }
            if (!firstKm || !lastKm || firstKm > lastKm) {
                this.error = true;
                this.errorFirstKm = "First km can not be greater by second km."
            }

            if (
                this.errorRegistration.length ||
                this.errorWorkerName.length ||
                this.errorDate.length ||
                this.errorFirstKm.length ||
                this.errorLastKm.length ||
                this.errorWorkedPlace


            ) {
                this.dataError = true;
                return
            } else {
                this.dataError = false;
            }

            let additionalData = this.machineData;

            // todo: to check this bug
            if
            (
                this.firstOtherWorkedPlace != null && this.firstKilometerForOtherPlace > 0 &&
                this.secondOtherWorkedPlace != null && this.secondKilometerForOtherPlace > 0 &&
                this.thirdOtherWorkedPlace != null && this.thirdKilometerForOtherPlace > 0
            ) {

                let machine = this.machineData;

                if (machine.last_km) {
                    let firstKm = this.firstKilometerForOtherPlace;
                    let secondKm = this.secondKilometerForOtherPlace;
                    let thirdKm = this.thirdKilometerForOtherPlace;
                    machine.last_km = machine.last_km - firstKm - secondKm - thirdKm;
                }

                createWaybill(this.machineData);
                setTimeout(() => {
                    if (machine.last_km) {
                        additionalData.first_km = machine.last_km;
                        //@ts-ignore
                        additionalData.last_km = parseFloat(machine.last_km) + parseFloat(this.firstKilometerForOtherPlace);
                        additionalData.place_id = this.firstOtherWorkedPlace;
                        createWaybill(additionalData)
                            .then(() => {
                                if (machine.last_km) {
                                    additionalData.first_km = machine.last_km;
                                    //@ts-ignore
                                    additionalData.last_km = parseFloat(machine.last_km) + parseFloat(this.secondKilometerForOtherPlace);
                                    additionalData.place_id = this.secondOtherWorkedPlace;
                                    createWaybill(additionalData)
                                        .then(() => {
                                            additionalData.first_km = machine.last_km;
                                            //@ts-ignore
                                            additionalData.last_km = parseFloat(machine.last_km) + parseFloat(this.thirdKilometerForOtherPlace);
                                            additionalData.place_id = this.thirdOtherWorkedPlace;
                                            createWaybill(additionalData)
                                        });
                                }

                            })
                        ;
                    }

                }, 100)

            } else if (this.firstOtherWorkedPlace != null && this.firstKilometerForOtherPlace > 0 &&
                this.secondOtherWorkedPlace != null && this.secondKilometerForOtherPlace > 0) {
                let machine = this.machineData;

                if (machine.last_km) {
                    let firstKm = this.firstKilometerForOtherPlace;
                    let secondKm = this.secondKilometerForOtherPlace;
                    let thirdKm = this.thirdKilometerForOtherPlace;
                    machine.last_km = machine.last_km - firstKm - secondKm - thirdKm;
                }

                createWaybill(this.machineData);
                setTimeout(() => {
                    if (machine.last_km) {
                        additionalData.first_km = machine.last_km;
                        //@ts-ignore
                        additionalData.last_km = parseFloat(machine.last_km) + parseFloat(this.firstKilometerForOtherPlace);
                        additionalData.place_id = this.firstOtherWorkedPlace;
                        createWaybill(additionalData)
                            .then(() => {
                                if (machine.last_km) {
                                    additionalData.first_km = machine.last_km;
                                    //@ts-ignore
                                    additionalData.last_km = parseFloat(machine.last_km) + parseFloat(this.secondKilometerForOtherPlace);
                                    additionalData.place_id = this.secondOtherWorkedPlace;
                                    createWaybill(additionalData);
                                }

                            })
                        ;
                    }

                }, 100)

            } else if (this.firstOtherWorkedPlace != null && this.firstKilometerForOtherPlace > 0) {
                let machine = this.machineData;

                if (machine.last_km) {
                    let firstKm = this.firstKilometerForOtherPlace;
                    let secondKm = this.secondKilometerForOtherPlace;
                    let thirdKm = this.thirdKilometerForOtherPlace;
                    machine.last_km = machine.last_km - firstKm - secondKm - thirdKm;
                }

                createWaybill(this.machineData);
                setTimeout(() => {
                    if (machine.last_km) {
                        additionalData.first_km = machine.last_km;
                        //@ts-ignore
                        additionalData.last_km = parseFloat(machine.last_km) + parseFloat(this.firstKilometerForOtherPlace);
                        additionalData.place_id = this.firstOtherWorkedPlace;
                        createWaybill(additionalData);
                    }

                }, 100)

            } else {
                createWaybill(this.machineData);
            }

            this.loading = true;
            setTimeout(() => {
                this.loading = false;
                this.dataIsDefined = true;
            }, 1000);

        }

        filterMachines() {
            this.resetWarnings();
            this.machineData.machineRegistration_id = null;

            let machines = this.machinesFromDB;
            let noMatch = false;

            //todo: lenght , not sure
            if (this.filterMachine) {
                machines = machines.filter((machine: any[string]) =>
                    machine['data'].registration.toUpperCase()
                        .indexOf(this.filterMachine.toUpperCase()) >= 0);
                if (machines.length < 1) {
                    noMatch = true;
                }
                if (machines.length > 1) {
                } else {
                    this.machineData.machineRegistration_id = machines[0]['data'].id
                }
            }
        }

        filterWorkers() {
            this.resetWarnings();
            this.machineData.workerName_id = null;

            let machines = this.workersFromDB;
            let noMatch = false;


            //todo: lenght , not sure
            if (this.filterWorker) {
                machines = machines.filter((machine: any[string]) =>
                    machine['data'].names.toUpperCase()
                        .indexOf(this.filterWorker.toUpperCase()) >= 0);
                if (machines.length < 1) {
                    noMatch = true;
                }
                if (machines.length > 1) {
                } else {
                    this.machineData.workerName_id = machines[0]['data'].id;
                }

                console.log(machines)
            }
        }

        filterLocations() {
            this.resetWarnings();
            this.machineData.place_id = null;

            let machines = this.placesFromDB;
            let noMatch = false;

            //todo: lenght , not sure
            if (this.filterLocation) {
                machines = machines.filter((machine: any[string]) =>
                    machine['data'].name.toUpperCase()
                        .indexOf(this.filterLocation.toUpperCase()) >= 0);

                if (machines.length < 1) {
                    noMatch = true;
                }
                if (machines.length > 1) {
                } else {
                    this.machineData.place_id = machines[0]['data'].id
                }
            }
        }

        startLoading() {
            this.loading = true;
            setTimeout(() => {
                this.loading = false;
            }, 3000)
        }

        created(): void {
            setTimeout(() => {
                this.getReadyDataFromAllDatabases()
            }, 50)
        }
    }
</script>

<style scoped>

</style>
