<template>
        <div class="file is-half">
            <label class="file-label">
                <input
                        @input="$emit('input', multiple ? $event.target.files : $event.target.files[0])"
                        class="file-input"
                        type="file"
                        :multiple="multiple"
                        name="resume"/>
                <span class="file-cta">
                <slot #default></slot>
                </span>
            </label>
        </div>
</template>

<script lang="ts">

    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component
    export default class Input extends Vue {
        @Prop([FileList, File]) value!: Object | undefined;
        @Prop(Boolean) multiple!: boolean;
    }
</script>
