<template>
    <div class="column is-fullwidth-mobile hero is-dark">
        <hr>
    <footer class="footer is-mobile is-danger has-background-dark">
        <div class="content has-text-centered">
            <p class="has-text-white">
                <strong class="has-text-danger-dark">fuelAuditApp</strong> by <a class="has-text-danger-dark">Pavel Nistorov</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php" class="has-text-danger-dark">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" class="has-text-danger-dark">CC BY NC SA 4.0</a>.
            </p>
            <p class="content has-text-centered">Created 2020</p>
        </div>
    </footer>
    </div>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>

</style>
