<template>
    <div>
        <div v-if="login" class="box is-small">
            <div class="box is-small">
                <router-link to="/">Need a help?</router-link>
            </div>
        </div>
        <div v-else class="box is-small">
            <div class="box is-small">
                <router-link to="/login" v-if="!isLogin">Login &nbsp;·&nbsp;</router-link>
                <router-link to="/">Need a help?</router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
// todo isLogin!
import {Vue, Component, Prop} from "vue-property-decorator";
import {Getter} from "vuex-class";
import {GET_LOGIN} from "@/store";

@Component export default class InfoNavigation extends Vue {
    @Prop(String) readonly title: string | undefined;
    @Prop(String) readonly paragraph: string | undefined;
    @Prop(Boolean) readonly login: boolean | undefined;
    @Getter(GET_LOGIN) public isLogin: boolean | undefined;


}
</script>

<style scoped>

</style>
