<template>
    <div v-if="viewInfo" class="table-container is-mobile">
        <table class="table is-striped ">
            <thead>
            <th v-for="data in tableHeadIndex">
                <tr>{{data}}</tr>
            </th>
            </thead>
            <tbody>
            <tr v-for="(data) in viewInfo">
                <td>{{data.id}}</td>
                <td>{{data.registration}}</td>
                <td>{{data.start_date}}</td>
                <td>{{data.end_date}}</td>
                <td><button @click="$emit('delete_maintenance_value', data.id)">X</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import {GET_ADMIN} from '@/store';
    import {Getter} from 'vuex-class';



    @Component({})
    export default class MaintenanceTableList extends Vue {

        @Getter(GET_ADMIN) public isAdmin: boolean | undefined;

        @Prop(Array) viewInfo!: Maintenance[];
        @Prop(String) typeOfMaintenance!: string;

        get tableHeadIndex() {
            let theatLenght: any[] = [];
            for (let i of this.viewInfo!) {

                theatLenght.push(Object.keys(i));
            }
            return theatLenght[0];
        }
    }
</script>

