<template>
    <div class="navbar-item is-hoverable" :class="resizetWindow">
        <div v-if="isLogin">
            <router-link class="button" :to="where">{{title}}</router-link>
        </div>
        <div class="navbar-item is-hoverable" :class="resizetWindow" v-else>
            <h1 class="button" disabled>{{title}}</h1>
        </div>
    </div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from "vue-property-decorator";
import {Getter} from "vuex-class";
import {GET_LOADING, GET_LOGIN, GET_ADMIN} from "@/store";


interface Window {
    width: number
    height: number
}

@Component export default class Navbar extends Vue {
    @Getter(GET_LOGIN) public isLogin: boolean | undefined;
    @Getter(GET_ADMIN) public isAdmin: boolean | undefined;
    @Getter(GET_LOADING) public isLoading: boolean | undefined;

    @Prop() public title: string | undefined;
    @Prop() public where: string | undefined;

    dropdown: string | null = null;


    window: Window = {
        width: 0,
        height: 0
    }


    get resizetWindow () {
        let width = this.window.width = window.innerWidth;
        if(width > 1023) {
            this.dropdown = 'dropdown';
        }
        if (width < 1023) {
            this.dropdown = null;
        }
       return  this.dropdown
    }


}
</script>
