<template>
    <div>
        <nav class="navbar is-success is-fixed-top is-two-fifths-mobile is-offset-0-mobile" :class="redTheme">
            <div class="navbar-brand">
                <div class="navbar-item is-7" @click="handleResize">
                    <router-link to="/">
                        <img src="../assets/general_logo.png" width="25" height="30">

                    </router-link>
                    <h1 class="navbar-item ml-1 pl-1 title is-7">
                        fuelAuditApp
                    </h1>
                </div>
                <div>
                </div>
                <div v-if="openNavigation"
                     class="navbar-burger burger is-1"
                     @click="toggleNavOpen"
                >
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div v-else
                     class="navbar-burger burger is-black-bis"
                     @click="toggleNavOpen"
                >
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="navbar-menu is-active" v-if="openNavigation">
                <div class="navbar-start" @click="handleResize">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="#">Audit</a>
                        <div class="navbar-dropdown">

                            <NavbarItem
                                    :title="'AddWayBill'"
                                    :where="'AddWayBill'"
                            />
                            <NavbarItem
                                    :title="'WayBill_DB'"
                                    :where="'WayBillsList'"
                            />
                            <NavbarItem
                                    :title="'Audit_DB'"
                                    :where="'AuditList'"
                            />
                            <NavbarItem
                                    :title="'AccountingAudit'"
                                    :where="'AccountingAudit'"
                            />
                            <NavbarItem
                                    :title="'Input_Data'"
                                    :where="'InputDataWayBillManager'"
                            />
                            <hr class="navbar-divider">
                            <div>
                                <div>
                                    <small>
                                        <router-link to="/">Audit documents</router-link>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="#">Maintenanceing</a>
                        <div class="navbar-dropdown">
                            <div class="navbar-item">
                            </div>
                            <NavbarItem
                                    :title="'Add_Maintenance'"
                                    :where="'/AddMaintenance'"
                            />
                            <NavbarItem
                                    :title="'Technical_Maintenance'"
                                    :where="'TechnicalMaintenance'"
                            />
                            <NavbarItem
                                    :title="'Insurance_Maintenance'"
                                    :where="'InsuranceMaintenance'"
                            />
                            <NavbarItem
                                    :title="'Vignettе_Maintenance'"
                                    :where="'VignetteMaintenance'"
                            />
                            <NavbarItem
                                    :title="'Tax_Maintenance'"
                                    :where="'TaxMaintenance'"
                            />
                            <NavbarItem
                                    :title="'Oil_Maintenance'"
                                    :where="'OilMaintenance'"
                            />
                            <NavbarItem
                                    :title="'Tires_Maintenance'"
                                    :where="'TiresMaintenance'"
                            />
                            <NavbarItem
                                    :title="'TimingBelt_Maintenance'"
                                    :where="'TimingBeltMaintenance'"
                            />
                            <hr class="navbar-divider">
                            <div>
                                <div>
                                    <small>
                                        <router-link to="/">Under construction!</router-link>
                                    </small>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="#">Tracked</a>
                        <div class="navbar-dropdown">

                            <NavbarItem
                                    v-if="isAdmin"
                                    :title="'Machines_List'"
                                    :where="'/TrackedMachinesList'"
                            />
                            <div v-else class="navbar-item">
                                <h1 class="button" disabled>GPS_List</h1>
                            </div>
                            <NavbarItem
                                    v-if="isAdmin"
                                    :title="'Machines_Set'"
                                    :where="'/TrackedMachinesSet'"
                            />
                            <div v-else class="navbar-item">
                                <h1 class="button" disabled>GPS_Machines_set</h1>
                            </div>
                            <div>
                                <div>
                                    <small>
                                        <router-link to="/">Admin only access!</router-link>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="#">More</a>
                        <div class="navbar-dropdown">
                            <div class="navbar-item">
                                <h1 class="button" disabled="">More...</h1>
                            </div>
                            <hr class="navbar-divider">
                            <div>
                                <div>
                                    <p class="is-size-6-desktop">
                                        <strong class="has-text-info">1.0</strong>
                                    </p>
                                    <small>
                                        <router-link to="/">View all versions</router-link>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="navbar-end" @click="handleResize">

                    <div class="navbar-item">
                        <h1>
                            Change theme:
                        </h1>
                        <SwitchBtn v-model="switchTheme" @input="changeToRedTheme"></SwitchBtn>
                    </div>

                    <div v-if="isLogin" class="navbar-item">
                        <div v-if="switchTheme">
                            <button v-if="!isLogin" class="button is-dark">Logout</button>
                            <button v-else @click="logOut" class="button is-dark">Logout</button>
                        </div>
                        <div v-else>
                        <button v-if="!isLogin" class="button is-danger">Logout</button>
                        <button v-else @click="logOut" class="button is-danger">Logout</button>
                        </div>
                    </div>
                    <div v-else class="navbar-item">

                        <router-link v-if="switchTheme" class="button is-success" to="/login">Login</router-link>
                        <router-link v-else class="button is-warning" to="/login">Login</router-link>
                    </div>
                </div>
            </div>

        </nav>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import {Getter} from "vuex-class";
    import {GET_LOADING, GET_LOGIN, GET_ADMIN} from "@/store";
    import {logOut, setLoading, setAdminAccess} from "@/store/mutations";

    interface Window {
        width: number
        height: number
    }

    @Component export default class Navbar extends Vue {
        @Getter(GET_LOGIN) public isLogin: boolean | undefined;
        @Getter(GET_ADMIN) public isAdmin: boolean | undefined;
        @Getter(GET_LOADING) public isLoading: boolean | undefined;


        openNavigation: boolean = false;
        window: Window = {
            width: 0,
            height: 0
        }

        switchTheme: boolean = false;
        redTheme: string | null = null;

        lang = localStorage.getItem('lang') || 'en';

        changeToRedTheme() {
            if(!this.switchTheme) {
            this.redTheme = null;
            }
            if(this.switchTheme) {
            this.redTheme = 'is-danger';
            }
        }

        toggleNavOpen(): void {
            this.openNavigation = !this.openNavigation;
        }

        setLoadingOff() {
            setLoading();
        }

        logOut() {
            setAdminAccess(false);
            this.setLoadingOff();
            console.log('logout');
            logOut();
        }

        handleResize() {
            let width = this.window.width = window.innerWidth;
            let height = this.window.height = window.innerHeight;

            this.openNavigation = width > 1023;

        }

        created(): void {
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
        }

        destroyed(): void {
            window.removeEventListener('resize', this.handleResize);
        }


    }
</script>

<style scoped>

    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #ff6960;
    }
</style>
