<template>
    <div>
        <div class="notification mt-5" :class="classes">
            <button @click="$emit('close_notification')" class="delete"></button>
            {{message}}

        </div>
    </div>
</template>

<script lang="ts">
import {Vue, Component, Prop} from "vue-property-decorator";

@Component export default class Notification extends Vue {

    @Prop() message: string | undefined
    @Prop() classes: string | undefined



}
</script>

<style scoped>

</style>
