<template>
        <div class="field">
            <div class="field">
                <input
                    type="checkbox"
                    name="switchOutlinedSuccess"
                    class="switch is-outlined is-success"
                    v-model="model"
                />
                <label>
                    <input
                            type="checkbox"
                            name="switchOutlinedSuccess"
                            class="switch is-outlined is-success"
                            v-model="model"
                    />
                    <slot name="default"/>
                </label>
            </div>
        </div>

</template>

<script lang="ts">
// todo Label for target
import {Component, Vue, Prop} from "vue-property-decorator";

@Component export default class SwitchBtn extends Vue {
    @Prop(Boolean) value!: boolean;

    get model(): boolean {
        return this.value
    }

    set model(value: boolean) {
        this.$emit('input', value)
    }

}
</script>
