<template>

    <div>


    <div class="hero table-container"
         v-if="audit && Object.keys(audit).length">
        <table id="generalTable"
               class="table
                          is-bordered
                          is-striped
                          is-narrow
                          is-scrollable
                          is-fullwidth
                          is-scrollable
                          $table-body-background-color: $grey-dark">
            <thead>
            <tr>
                <th class="is-danger" style="border-right: 1px solid red;" rowspan="2">Registration</th>
                <th class="is-success" style="border: 1px solid red;" colspan="3" v-for="day in days" :key="day">{{
                    day }}
                </th>
            </tr>
            <tr>
                <template v-for="day in days">
                    <td class="is-danger">KM</td>
                    <td class="is-success">Worker</td>
                    <td class="is-warning">Location</td>
                </template>
            </tr>
            </thead>

            <tbody>
            <template v-for="(machineData) in audit">
                <tr v-for="(key) in getRows(machineData.largestColumn)">
                    <td class="is-success" style="border-bottom: 1px solid grey"
                        :rowspan="machineData.largestColumn" v-if="0 === key">
                        {{ machineData.plate }}
                    </td>
                    <template v-for="day in days">
                        <td style="border-right: 1px solid red;">
                            <template v-if="machineData.work[day] && machineData.work[day][key]">
                                {{ machineData.work[day][key].km }}
                            </template>
                            <template v-else>
                            </template>
                        </td>
                        <td style="border-right: 1px solid green;">
                            <template v-if="machineData.work[day] && machineData.work[day][key]">
                                {{ machineData.work[day][key].worker }}
                            </template>
                            <template v-else>
                            </template>
                        </td>
                        <td style="border-right: 1px solid red;">
                            <template v-if="machineData.work[day] && machineData.work[day][key]">
                                {{ machineData.work[day][key].location }}
                            </template>
                            <template v-else>
                            </template>
                        </td>
                    </template>
                </tr>
            </template>
            </tbody>
        </table>

    </div>
        <div v-else>
            <h1 class="title">NO DATA FOR SELECTED MONTH AND YEAR!</h1>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component({})
    export default class TableGeneral extends Vue {

        @Prop() audit: Audit | undefined;
        @Prop() days: [] | undefined;
        @Prop() getRows: Function | undefined;


    }
</script>

<style scoped>

</style>
