<template>

    <div>
        <table v-if="viewDatabase" class="table">
            <thead>
            <tr v-if="isSingleThead">
                <th v-if="editMode">Delete</th>
                <th>Name</th>
                <th>Info</th>
                <th>Position</th>
                <th v-if="editMode">Save</th>
            </tr>
            <tr v-else>
                <th v-if="editMode">Delete</th>
                <th>Name</th>
                <th>Registration</th>
                <th>Type</th>
                <th>index_id</th>
                <th v-if="editMode">
                   Save
                </th>
            </tr>
            </thead>

            <tbody v-if="editMode">
            <tr v-for="(info, index) in viewDatabase">
                <td>
                    <bulma-button
                            v-if="isAdmin"
                            @click="removeItemData(viewDatabase[index].data)"
                            type="danger"
                            class="button is-small is-danger">&times;
                    </bulma-button>
                    <bulma-button
                            v-if="!isAdmin"
                            disabled
                            type="danger"
                            class="button is-small is-danger">&times;
                    </bulma-button>
                </td>
                <td v-if="info.data.names">
                <bulma-text-field type="small" v-model="info.data.names" :placeholder="info.data.names" />
                </td>
                <td v-if="!info.data.names">
                    <bulma-text-field type="small" v-model="info.data.name" :placeholder="info.data.name" />
                </td>
                <td v-if="!isSingleThead">
                    <bulma-text-field type="small" v-model="info.data.registration" :placeholder="info.data.registration" />
                </td>
                <td v-if="info.data.type">
                    <bulma-text-field type="small" v-model="info.data.type" :placeholder="info.data.type" />
                </td>
                <td v-else>
                    <bulma-text-field type="small" v-model="info.data.type" :placeholder="'*'" />
                </td>
                <td v-if="info.data.index_id">
                    <bulma-text-field type="small" v-model="info.data.index_id"/>
                </td>
                <td v-else>
                    <bulma-text-field type="small" v-model="info.data.index_id" :placeholder="'*'" />
                </td>
                <td>
                    <bulma-button type="success" class="button is-small" @click="editData(viewDatabase[index].data)" :outlined="true" :loading="loading">
                        SAVE
                    </bulma-button>
                </td>

            </tr>
            </tbody>

            <tbody v-else>
            <tr v-for="(info) in viewDatabase">
                <td v-if="info.data.names">{{info.data.names}}</td>
                <td v-if="!info.data.names">{{info.data.name}}</td>
                <td v-if="!isSingleThead">{{info.data.registration}}</td>
                <td v-if="info.data.type">{{info.data.type}}</td>
                <td v-else>---</td>
                <td v-if="info.data.index_id">{{info.data.index_id}}</td>
                <td v-else>---</td>
            </tr>
            </tbody>
        </table>

        <div v-else-if="viewGeneralDatabase" class="table-container is-mobile">
            <table class="table">
                <thead>
                <tr>
                    <th><b>Name</b></th>
                    <th>
                        <bulma-button @click="$emit('orderRegistration')">Registration</bulma-button>
                    </th>
                    <th>
                        <bulma-button @click="$emit('orderWorker')">Worker</bulma-button>
                    </th>
                    <th>
                        <bulma-button @click="$emit('orderDate')">Date</bulma-button>
                    </th>
                    <th>
                        <bulma-button @click="$emit('orderTotalKm')">Total_km/mh</bulma-button>
                    </th>
                    <th>
                        <bulma-button @click="$emit('orderPlace')">Place</bulma-button>
                    </th>
                    <th><b>Position</b></th>
                    <th>Type</th>
                    <th>index_id</th>
                    <th v-if="editMode">REMOVE</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(info, index) in viewGeneralDatabase">
                    <td>{{info.name}}</td>
                    <td>{{info.registration}}</td>
                    <td>{{info.worker}}</td>
                    <td>{{info.date}}</td>
                    <td>{{info.total_km}}</td>
                    <td>{{info.place}}</td>
                    <td>{{info.position}}</td>
                    <th>{{info.type}}</th>
                    <th>{{info.index_id}}</th>
                    <td v-if="editMode">
                        <button
                                @click="removeLocationWork(info.location_work_id)"
                                class="button is-danger is-small">&times;
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <table v-else-if="viewInfo" class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th>ID - track</th>
                <th>Name</th>
                <th>Registration</th>
                <th>Start Date</th>
                <th>Start Hour</th>
                <th>End Date</th>
                <th>End Hour</th>
                <th>Index ID</th>
                <th>GPS Bill</th>
            </tr>
            </thead>
            <tbody v-for="(info, index) in viewInfo">
            <td><h1>{{info.track_id}}</h1></td>
            <td><h1>{{info.name}}</h1></td>
            <th><h1>{{info.registration}}</h1></th>
            <td>
                <input
                        v-if="editMode"
                        type="date"
                        v-model="info.start_date"
                        :placeholder="info.start_date"
                        @input="checkInput(index, info.start_date, 'startDate', info.start_date)"
                        required
                />
                <h1 v-else>{{info.start_date}}</h1>
            </td>
            <td>
                <bulma-text-field
                        v-if="editMode"
                        v-model="info.start_time"
                        :placeholder="info.start_time"
                        @input="checkInput(index, info.start_time, 'startHour', info.start_time)"
                        required
                />
                <h1 v-else>{{info.start_time}}</h1>
            </td>
            <td>
                <input
                        type="date"
                        v-if="editMode"
                        v-model="info.end_date"
                        :placeholder="info.end_date"
                        @input="checkInput(index, info.end_date, 'endDate', info.end_date)"
                        required
                />
                <h1 v-else>{{info.end_date}}</h1>
            </td>
            <td>
                <bulma-text-field
                        v-if="editMode"
                        v-model="info.end_time"
                        :placeholder="info.end_time"
                        @input="checkInput(index, info.end_time, 'endHour', info.end_time)"
                        required
                />
                <h1 v-else>{{info.end_time}}</h1>
            </td>
            <td>{{info.index_id}}</td>
            <td>
                <button @click="openGpsLink(info)">Get Bill</button>
            </td>

            </tbody>
        </table>
        <div v-if="editMode">
            <bulma-button
                    v-if="viewInfo"
                    type="danger"
                    outlined
                    :loading="loading"
                    @click="deleteEntries">
                <template #default>Delete All</template>
            </bulma-button>
        </div>
        <br/>
        <br/>

        <bulma-button
                v-if="viewInfo"
                @click="createTable"
                type="success"
                outlined
                :loading="loading"
        >
            <template #default>Create Table</template>
        </bulma-button>

    </div>
</template>

<script lang="ts">

    import {Component, Prop, Vue} from "vue-property-decorator";
    import {removeInfo, editInfo} from "@/store/mutations";
    import {GET_ADMIN} from '@/store';
    import {Getter} from 'vuex-class';
    import {updateTrackingTimeIntervals, getTrackerMachines, getTrackerTargetIntervals, deleteByLocationWork} from '@/api/machine';
    //todo: table and create table button to be in other component
    //todo: do bind value in inpouts in edit mode, onchange to create function with mutation for store
    //todo: With Vue.set('asd', where in store, newData). this need to be created with indexs of inputs.v

    @Component({})
    export default class TableList extends Vue {

        @Getter(GET_ADMIN) public isAdmin: boolean | undefined;

        @Prop() viewInfo: [] | undefined;
        @Prop() editInfo: [] | undefined;
        @Prop() viewDatabase: [] | undefined;
        @Prop() viewGeneralDatabase: [] | undefined;
        @Prop() editMode: boolean | undefined;
        @Prop() loading: boolean | undefined;
        @Prop(Function) createTable: Function | undefined;
        @Prop(Object) inputError: any | undefined;
        @Prop(Array) typeOptions: [] | undefined;
        @Prop(Function) deleteEntries: Function | undefined;
        @Prop(Function) removeItem: Function | undefined;
        @Prop(Function) checkInput: Function | undefined;
        @Prop(Function) editEntry: Function | undefined;
        @Prop() isSingleThead: boolean | undefined;

        modyfiedData: editData = {
            id: null,
            registration: null,
            name: null,
            type: null,
            index_id: null
        }

        openGpsLink (machine: any) {

            let link = "https://web.nipo-gps.com/GPS/innerHtml/mapReportsInterface.jsp?vehicleId=" +
                machine.track_id +
                "&startDate=" +
                machine.start_date +
                "&startTime=" +
                machine.start_time +
                "&endDate=" +
                machine.end_date +
                "&endTime=" +
                machine.end_time +
                "&filterTime=00:10:00&stopsControl=0&stopPlaces=0&kilometres=0&includeCityNoncityDistance=0&accuracy=1&firmName=&reportType=customRoadList";

            window.open(link, '_blank');
        }


        removeItemData(data: string) {
            console.log(data);
            removeInfo(data);
            return this.$emit('refreshDatabase')
                && this.$emit('changeDatabase')
        }

        editData(data: editData) {
            console.log(data);
            editInfo(data);
        }

        removeLocationWork(index: number) {
            deleteByLocationWork(index)
                .then(() => {
                    return this.$emit('itemRemoved')
                });


        }

        //this is in the end of table, but for now I will skip!
        // <td v-if="editMode">
        //     <button
        //         @click="removeItem(index)"
        //     class="button is-danger is-small">&times;
        // </button>
        // </td>
    }


</script>

