<template>
    <div
            v-if="isVisible"
            class="notification"
            :class="classes">
        <button
                v-if="isDeletable"
                @click="deleteWarning"
                class="delete"

        ></button>
        {{ message }}
        <slot name="default"/>
    </div>
</template>

<script lang="ts">
    // @click="$emit('input', !value)"

    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component export default class Warning extends Vue {
        @Prop({
            type: Boolean,
            default: undefined
        }) value!: boolean;

        @Prop({
            type: String,
            default: '',
            // Good practice
        }) message!: string;

        @Prop({
            type: String,
            default: '',
        })
        type!: string;

        get classes() {
            return {
                [`is-${this.type}`]: true
            }
        }

        get isDeletable(): boolean {
            return this.value !== undefined
        }

        get isVisible(): boolean {
            if(this.isDeletable) {
                return this.value
            }
            return true

        }

        deleteWarning() {
            this.$emit("deleteWarning");
        }

    }
</script>
