<template>
    <div class="hero is-fullheight is-dark">
        <div class="hero-body mb-6 pb-6">
            <div class="container has-text-centered">
                <div class="column is-7 is-offset-3">
                    <h3 class="title has-text-white">
                        <slot name="title" />
                    </h3>
                    <h3>
                        <slot name="default" />
                    </h3>
                    <hr class="login-hr">
                    <InfoNavigation></InfoNavigation>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from "vue-property-decorator";

    @Component export default class WelcomeInfo extends Vue {
        @Prop(String) readonly title: string | undefined;
        @Prop(String) readonly paragraph: string | undefined

    }
</script>

<style scoped>

</style>
