.buttons{
    text-align: center;
}
.buttons a{
    display:block;
    float:left;

    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:10px;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:2px 2px 2px 2px; /* Links */
}

.buttons a.negative{
    color:#d12f19;
}
.buttons a.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

.buttons a.green{
    color:#0B9D09;
}
.buttons a.green:hover{
    background:#B3FBB2;
    border:1px solid #09C606;
    color:#0B9D09;
}
.buttons a.green:active{
    background-color:#0B9D09;
    border:1px solid #0B9D09;
    color:#fff;
}

.buttons a.yellow{
    color:#ffcc00;
}
.buttons a.yellow:hover{
    background:#f9f6b1;
    border:1px solid #c4a407;
    color:#ffcc00;
}
.buttons a.yellow:active{
    background-color:#ffcc00;
    border:1px solid #ffcc00;
    color:#fff;
}

.tabImage{
    vertical-align: -30%;
    padding-top: 2px;
    margin-left: -5px;
}

.tabletMessagePopupStyleA {

    width:auto;
    height:auto;
    padding:6px;
    padding-right: 10px;
    padding-left: 10px;
    float:right;
    position:relative;
    background: #3399ff;
    margin-right:10px;
    margin-bottom: 5px;
    font-family: arial,sans-serif;
    font-size: 13px;
    color:white;
    border-radius: 3px;
}

.tabletMessagePopupStyleA:after { 
    
    left: 100%; 
    top: 50%; 
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0; 
    position: absolute; 
    pointer-events: none; 
    border-color: rgba(0, 119, 255, 0); 
    border-left-color: #3399ff;
    border-width: 7px; 
    margin-top: -7px; 
}

.tabletMessagePopupStyleB {

    width:auto;
    height:auto;
    padding:6px;
    padding-right: 10px;
    padding-left: 10px;
    float:left;
    position:relative;
    background: #F1F0F0;
    margin-left:10px;
    margin-bottom: 5px;
    font-family: arial,sans-serif;
    font-size: 13px;
    color:black;
    border-radius: 3px;
}

.tabletMessagePopupStyleB:after { 
    
    right: 100%; 
    top: 50%; 
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0;
    position: absolute; 
    pointer-events: none; 
    border-color: rgba(222, 222, 222, 0);
    border-right-color: #F1F0F0; 
    border-width: 7px;
    margin-top: -7px;
}

.tabletMessageTimeStyleA {
    color: gray;
    font-size: 9px;
    width: 40px;
    float:left;
    position: absolute;
    bottom: 5px;
    left:0px;
    margin-left: -45px;
}

.tabletMessageTimeStyleB {
    color: gray;
    font-size: 9px;
    width: 40px;
    float:right;
    position: absolute;
    bottom: 5px;
    right:0px;
    margin-right: -45px;
}

.tabletMessageWrapperStyleA {
    
    float:right;
    clear:both;
    position:relative;
}

.tabletMessageWrapperStyleB {
    
    float:left;
    clear:both;
    position:relative;
}


#inputTabletTypeBarId::-webkit-input-placeholder {
    
    color:#797C80;
    font-weight: normal;
    font-family: arial,sans-serif;
    font-size: 13px;
}
#inputTabletTypeBarId::-moz-placeholder { 
    
    color:#797C80;
    font-weight: normal;
    font-family: arial,sans-serif;
    font-size: 13px;
}

.tabletChatContainer {
    
    width: 100%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    bottom: 25px;
    min-height: 30px;
    max-height: calc(100% - 58px);
    padding-bottom: 8px;
    
}

.tabletChatInput {
    
    width: calc(100% - 125px - 80px);
    height: 25px;
    float: left;
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    border-width: 0px;
}

.dateSeparator {
    
    border: 1px solid orange;
    left: 50%;
    position: relative;
    width: 110px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: -55px;
    background: orange;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    margin-bottom: 20px;
}

.tabletChatButtonContainerStyleRight {
    
    height:25px;
    width:35px;
    float:right;
    text-align: center;
    border-left: 1px solid #EEEEEE;
    
}

.tabletChatButtonContainerStyleLeft {
    
    height:25px;
    width:35px;
    float:left;
    text-align: center;
    border-right: 1px solid #EEEEEE;
    
}

.tabletChatButtonContainerStyleRight:hover {
    background: #F6F7F8;
    cursor:pointer;
}

.tabletChatButtonContainerStyleLeft:hover {
    background: #F6F7F8;
    cursor:pointer;
}

.tabletUserStatusBarLeft {
    float:left;
    height:25px;
    width:calc(100% - 50px);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.tabletUserStatusBarRight {
    float:right;
    height:25px;
    width:35px;
    text-align: center;
    border-left: 1px solid #EEEEEE;
}

.tabletUserStatusBarRight:hover {
    background: #f1f1f1;
    cursor:pointer;
}

.tabletOnlineStatus {
    float:left;
    font-family: arial,sans-serif;
    font-weight: bold;
    color: #828282;
    width:50%;
}

.tabletOnlineBattery {
    float:left;
    font-family: arial,sans-serif;
    font-weight: bold;
    color: #828282;
    width:50%;
    text-align:right;
}