<template>
    <div id="app" class="is-family-monospace is-dark">
        <meta charset="utf-8">
        <Navbar></Navbar>
        <router-view/>
        <Footer></Footer>
    </div>
</template>
is
<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import axios from 'axios';
    import {setAdminAccess, setLoginBySession} from './store/mutations';

    let exportButton = document.getElementsByClassName('xlsx');

    @Component export default class App extends Vue {

        loadingBar: boolean = false;

        checkLogin() {
            return axios.post('/login_check.php', {check_login: 'check_login'})
                .then((r) => {
                    let user = r.data;
                    if (user === 'admin') {
                        setLoginBySession(true);
                        setAdminAccess(true);
                    } else if (user === 'login_error') {
                        setLoginBySession(false);
                        setAdminAccess(false);
                    } else if (user !== 'admin' && user !== 'login_error' && user.length) {
                        setLoginBySession(true);
                        setAdminAccess(false);
                    }

                })
                .finally(() => {
                })
        }

        created(): void {
            this.checkLogin().finally(() => {});
        }


    }
</script>
<style lang="scss">

    body {
        /*background-color: rgba(33, 36, 40, 0.9);*/
    }

    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    #nav {
        padding: 30px;

        a {
            font-weight: bold;
            color: #2c3e50;

            &.router-link-exact-active {
                color: #42b983;
            }
        }
    }

    .tableexport-caption {
        display: block;
        /*margin: 0 auto;*/
        width: 100%;
        padding: 10px;
        position: sticky;
        top: 0;
    }


    .tableexport-caption button {
        font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-size: 16px;
        background-color: white;
        color: #363636;
        border-radius: 5px;
        margin: 10px 10px 10px 10px;
        padding: 15px 5px 15px 5px;
    }

    .loader {
        border: 12px solid rgba(76, 76, 76, 0.47);
        border-radius: 90%;
        border-top: 5px solid #db4c2c;
        width: 150px;
        height: 141px;
        -webkit-animation: spin 1.7s linear infinite; /* Safari */
        animation: spin 1.7s linear infinite;
        margin: 0 auto
    }
    .loader_base {
        border: 12px solid #363636;
        border-radius: 90%;
        border-top: 5px solid #363636;
        width: 150px;
        height: 141px;
        -webkit-animation: spin 1.9s linear infinite; /* Safari */
        animation: spin 1.9s linear infinite;
        margin: 0 auto
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .dropdown {
        visibility: hidden;
        opacity: 0;
        animation-name: fadeInUpMenu;
        animation-duration: 0.3s;
        /*display: block;*/
    }

    .navbar-item:hover .dropdown {
        animation-name: fadeInDownMenu;
        animation-duration: 0.3s;
        visibility: visible;
        opacity: 1;
    }

    @-webkit-keyframes fadeInDownMenu {
        0% {
            opacity: 1;
            visibility: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    @keyframes fadeInDownMenu {
        0% {
            opacity: 1;
            visibility: hidden;
            -webkit-transform: translate3d(0, -3%, 0);
            transform: translate3d(0, 3%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
            visibility: visible;
        }
    }

    @-webkit-keyframes fadeInUpMenu {
        0% {
            opacity: 1;
            visibility: visible;
            display: block;
            -webkit-transform: none;
            transform: none;
        }
        100% {
            opacity: 0;
            visibility: hidden;
            display: block;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes fadeInUpMenu {
        0% {
            opacity: 1;
            visibility: visible;
            display: block;
            -webkit-transform: none;
            transform: none;
        }
        100% {
            opacity: 0;
            visibility: hidden;
            display: block;
            -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
        }
    }

</style>
